@using CardModel
@using LPM.Data

@code {
    [Parameter] public FileService? Files { get; set; }
    [Parameter] public String? SelectedFileName { get; set; }
    [Parameter] public String? Filter { get; set; }
    [Parameter] public EventCallback<(string FileName, string FullPath)> DownloadFile { get; set; }
    [Parameter] public EventCallback<(string FileName, string FullPath)> OnFileNameClicked { get; set; }
    [Parameter] public EventCallback<(string DirectoryPath, string FileName)> RegisterDeleteFile { get; set; }
}

<div class="table-responsive">
    <SpkTables TableHeader="Files!.GetFileHeadersData()"
               Tableclass="text-nowrap table-hover mb-0 fs-5 w-100"
               TableHeadclass="sticky-top"
               ShowCheckbox="false">

        @foreach (var item in Files!.GetData())
        {
            if ((Files!.IsIniFile == false) || (Filter == null) || (Filter == "All") || (Filter == item.FileTargetName))
            {
                <tr class="@(item.FileName == SelectedFileName ? "selected-row" : null)"
                    @onclick="() => OnFileNameClicked.InvokeAsync((item.FileName, item.FullPath))"
                    style="cursor:pointer;">
                    <td class="w-100 text-wrap">
                        <span class="fs-6 @(item.FileName == SelectedFileName ? "selected-filename" : null)">
                            @item.FileName
                        </span>
                    </td>

                    @if (Files!.IsIniFile)
                    {
                        <td class="text-nowrap"><span class="text-muted small">@item.FileTargetName</span></td>
                    }
                    <td class="text-nowrap"><span class="text-primary small">@item.UploadedTime</span></td>
                    <td class="text-nowrap"><span class="text-muted small">@item.FileSizeReadable</span></td>
                    <td class="text-nowrap">
                        <button class="btn btn-success-light btn-sm"
                                @onclick="() => DownloadFile.InvokeAsync((Files.DirectoryPath, item.FileName))">
                            <i class="ri-file-download-line ms-1"></i> Download
                        </button>
                        <button class="btn btn-danger-light btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmDeleteModal"
                                @onclick="() => RegisterDeleteFile.InvokeAsync((Files.DirectoryPath, item.FileName))">
                            <i class="ri-delete-bin-line ms-1"></i> Delete
                        </button>
                    </td>
                </tr>
            }
        }
    </SpkTables>
</div>

