@inherits ForsightTester.Shared.AccordionInputBase
@using CardModel

@* ---------- markup ---------- *@
<div class="motor-wrapper my-2 mx-2">
    <div class="accordion accordion-primary" id="@ParentId">
        <div class="accordion-item motor-card">
            <h2 class="accordion-header" id="@HeadingId">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#@CollapseId"
                        aria-controls="@CollapseId"
                        aria-expanded="true"
                        style="background: transparent;">
                    @Name
                </button>
            </h2>

            <div id="@CollapseId"
                 class="accordion-collapse collapse show"
                 aria-labelledby="@HeadingId"
                 data-bs-parent="#@ParentId">

                <div class="accordion-body" style="padding:0;">
                    <table class="table table-sm motor-table mb-0" style="@TableStyle">
                        <tbody>
                            <tr>
                                <td class="text-center" style="width:70%;">
                                    <div class="d-flex flex-column justify-content-end align-items-center">
                                        <button class="btn btn-primary dropdown-toggle w-100"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            @_currentSelect
                                        </button>
                                        <ul class="dropdown-menu dropmenu-primary">
                                            @foreach (string Item in LogOptions)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="#"
                                                       @onclick="() => LogClicked(Item)">
                                                       @Item
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                                <td class="text-center" style="width:30%;">
                                    <button class="btn btn-primary"
                                            @onclick="() => ExecuteClicked.InvokeAsync(_currentSelect)">
                                        Execute
                                    </button>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="card-body">
                                        <h6 class="card-title fw-medium mb-2">Remarks</h6>
                                        <p class="card-subtitle mb-3 text-muted">Log is @LogStatus</p>
                                        <p class="card-text">@LogDetails</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center h-100">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    /* ---------- unique IDs via IdPrefix ---------- */
    [Parameter] public string Name { get; set; } = new("");
    [Parameter] public string IdPrefix { get; set; } = Guid.NewGuid().ToString("N");
    [Parameter] public string? TableStyle { get; set; }
    [Parameter] public string? LogStatus { get; set; }
    [Parameter] public string? LogDetails { get; set; }
    [Parameter] public EventCallback<string> ExecuteClicked { get; set; }

    private string[] LogOptions { get; } = { "Off", "Def version", "Custom version"};

    private string ParentId => $"accordion_FanConfig_{IdPrefix}";
    private string HeadingId => $"heading_FanConfig_{IdPrefix}";
    private string CollapseId => $"collapse_FanConfig_{IdPrefix}";


    private string _currentSelect=string.Empty;

    protected override void OnInitialized()
    {
        _currentSelect = LogOptions[0];
    }

    private void LogClicked(string value)
    {
        _currentSelect = value;
    }

}

