@using CardModel
@inherits ForsightTester.Shared.AccordionInputBase

<div class="motor-wrapper my-2 mx-2">
    <div class="accordion accordion-primary" id="accordion_@IdPrefix">
        <div class="accordion-item motor-card">
            <h2 class="accordion-header with-left-toggle position-relative" id="heading_@IdPrefix">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse_@IdPrefix"
                        aria-controls="collapse_@IdPrefix"
                        aria-expanded="true"
                        style="background: transparent;">
                    @Name
                </button>
            </h2>
            <div id="collapse_@IdPrefix"
            class="accordion-collapse collapse show"
            aria-labelledby="heading_@IdPrefix"
            data-bs-parent="#accordion_@IdPrefix">

                <div class="accordion-body" style="padding:0;">
                    <table class="table table-sm motor-table mb-0" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:8.8%">Motor</th>
                                <th class="text-center" style="width:20.2%">Position abs</th>
                                <th class="text-center" style="width:20.2%">Position inc</th>
                                @if (Advanced)
                                {
                                    <th class="text-center" style="width:20.2%">Enc Counts</th>
                                }
                                <th class="text-center" style="width:14.6%">Absolute value</th>
                                <th class="text-center" style="width:14.6%">Relative value</th>
                                <th class="text-center" style="width:11.7%">Brakes</th>
                                <th class="text-center" style="width:9.9%">Motion State</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < MotorsValues!.Motors.Length; i++)
                            {
                                var row = i;
                                bool isBrakeVisible = row >= 2 && row <= 4;
                                <tr>
                                    <td>@Motors[row]</td>
                                    <td>
                                        <div class=" d-flex justify-content-between" title="@GetTip(MotorsValues!.Motors[row].PositionAbs)" @key="@(GetTip(MotorsValues!.Motors[row].PositionAbs))">
                                            <span>@($"{MotorsValues!.Motors[row].PositionAbs.Position:0.###}")</span>
                                            <span>@($"{(row == 0 || row == 1 || row == 2 || row == 6 ? "(mm)" : "(deg)")}")
                                                @((MarkupString)GetRangeIcon(MotorsValues!.Motors[row].PositionAbs))
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between" title="@GetTip(MotorsValues!.Motors[row].PositionAbs)" @key="@(GetTip(MotorsValues!.Motors[row].PositionAbs))">
                                            <span>@($"{MotorsValues!.Motors[row].PositionInc.Position:0.###}")</span>
                                            <span>@($"{(row == 0 || row == 1 || row == 2 || row == 6 ? "(mm)" : "(deg)")}")
                                                @((MarkupString)GetRangeIcon(MotorsValues!.Motors[row].PositionInc))
                                            </span>
                                        </div>
                                    </td>
                                    @if (Advanced)
                                    {
                                        <td>
                                            <div class="d-flex justify-content-between" title="@GetTip(MotorsValues!.Motors[row].Decoder)" @key="@(GetTip(MotorsValues!.Motors[row].Decoder))">
                                                <span>@($"{MotorsValues!.Motors[row].Decoder.Position:0.###}")</span>
                                                <span>
                                                    @* @($"{(row == 0 || row == 1 || row == 2 || row == 6 ? "(mm)" : "(deg)")}") *@
                                                    @((MarkupString)GetRangeIcon(MotorsValues!.Motors[row].Decoder))
                                                </span>
                                            </div>
                                        </td>
                                    }
                                    <td>
                                        <input class="form-control motor-input @GetInputClass(MotorsValues!.Motors[row].AbsoluteValue)"
                                        @bind="MotorsValues!.Motors[row].AbsoluteValue"
                                        @bind:event="oninput" />
                                    </td>
                                    <td>
                                        <input class="form-control motor-input @GetInputClass(MotorsValues!.Motors[row].RelativeValue)"
                                        @bind-value="MotorsValues!.Motors[row].RelativeValue"
                                        @bind-value:event="oninput" />
                                    </td>
                                    <td>
                                        @if (isBrakeVisible)
                                        {
                                            <div class=" d-flex justify-content-between" title="@GetTip(MotorsValues!.Motors[row].PositionAbs)" @key="@(GetTip(MotorsValues!.Motors[row].PositionAbs))">
                                                <span>@($"{MotorsValues!.Motors[row].BrakesCurrent:0.###}")</span>
                                                <span>(mA)</span>
                                            </div>
/*
                                            var brakeValue = MotorsValues!.Motors[row].Brakes;
                                            <div class="form-check form-switch">
                                                <input class="form-check-input motor-check" type="checkbox"
                                                id="@($"BrakesSwitch_{IdPrefix}_{row}")"
                                                @bind="MotorsValues!.Motors[row].Brakes"
                                                @bind:after="BrakesSwitchCallback(row)" />
                                                <span style="margin-left: 8px;">
                                                    @(brakeValue ? "On" : "Off")
                                                </span>
                                            </div>
*/
                                        }
                                        else
                                        {
                                            <div class="form-check form-switch" style="display: none;">
                                                <input class="form-check-input motor-check" type="checkbox" disabled />
                                            </div>
                                        }
                                    </td>
                                    @if (i==0) 
                                    {
                                        <td rowspan="@Motors.Count">
                                            @{
                                                <div class="form-check form-switch ps-0 d-flex flex-column">
                                                    <input class="form-check-input motor-check mb-1" type="checkbox"
                                                           style="margin-left:0" 
                                                           id="@($"MotionSwitch_{IdPrefix}")"
                                                           @bind="MotorsValues.MotorState"
                                                           @bind:after="MotionSwitchCallback()" />

                                                    <div class="ms-0">@MotorsValues.MotorStatus</div>
                                                </div>


                                            }
                                        </td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td colspan="3" rowspan="1" class="align-middle" style="border-width: 0 2px 0 0;">
                                    <div class="d-flex align-items-center gap-2 ms-2">
                                        <span class="op-8 fs-15">Speed limit:</span>
                                        <input type="number" min="1" max="100000" step="1" class="form-control d-inline-block motor-input @GetSpeedLimitInputClass(@MotorsValues.SpeedLimit ?? string.Empty)"
                                               style="width:100px"
                                               @bind="@MotorsValues.SpeedLimit" @bind:event="oninput" />
                                        <span class="ml-2 op-8 fs-15">[1-100]</span>
                                    </div>
                                </td>

                                @if (Advanced)
                                {
                                    <td></td>
                                }
                                <td class="text-center">
                                    <div class="d-flex flex-column justify-content-end align-items-center">
                                        <button class="btn btn-primary dropdown-toggle w-100"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            Defaults
                                        </button>
                                        <ul class="dropdown-menu dropmenu-primary">
                                            @if (AbsoluteDefaults!=null)
                                            {
                                                foreach (string key in AbsoluteDefaults.Keys)
                                                {
                                                    String KeyCopy = key;
                                                    <li>
                                                        <a class="dropdown-item" href="#"
                                                           @onclick='() => AbsoluteClicked(KeyCopy)'>
                                                            @key
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex flex-column justify-content-end align-items-center">
                                        <button class="btn btn-primary dropdown-toggle w-100"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            Defaults
                                        </button>
                                        <ul class="dropdown-menu dropmenu-primary">
                                            <li>
                                                <a class="dropdown-item" href="#"
                                                   @onclick='() => RelativeClicked("Plus10")'>
                                                    Plus 10
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#"
                                                   @onclick='() => RelativeClicked("Minus10")'>
                                                    Minus 10
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="3" rowspan="1" class="align-middle" style="border-width: 0 2px 0 0;">
                                    <div class="d-flex align-items-center gap-2 ms-2">


                                        <input class="form-check-input" type="checkbox" @bind="FastMode" aria-label="..."
                                               @bind:event="onchange"
                                               @bind:after="() => FastModeChanged.InvokeAsync(FastMode)" />
                                        <span class="ml-2 op-8 fs-15">Fast_Mode</span>

                                    </div>
                                </td>

                                @if (Advanced)
                                {
                                    <td></td>
                                }
                                <td class="text-center h-100">
                                    <div class="d-flex flex-column justify-content-end align-items-center h-100">
                                        <button class="btn btn-sm motor-btn w-100"
                                                disabled="@(ButtonEnabled ? null : true)"
                                                title="Send"
                                                @onclick="SendAbsolute">
                                                    Send
                                        </button>
                                    </div>
                                </td>
                                <td class="text-center h-100">
                                    <div class="d-flex flex-column justify-content-end align-items-center h-100">
                                        <button class="btn btn-sm motor-btn w-100"
                                                disabled="@(ButtonEnabled ? null : true)"
                                                @onclick="SendRelative">
                                                    Send
                                        </button>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public string Name { get; set; } = new("");
    [Parameter] public string IdPrefix { get; set; } = Guid.NewGuid().ToString("N");
    [Parameter] public string? TableStyle { get; set; }
    [Parameter] public MotorsInfo? MotorsValues { get; set; }
    [Parameter] public bool ButtonEnabled { get; set; } = true;

    [Parameter] public EventCallback SendAbsolute { get; set; }
    [Parameter] public EventCallback SendRelative { get; set; }
    [Parameter] public EventCallback<bool> MotionSwitchChanged { get; set; }
    //  [Parameter] public EventCallback<(int Row, bool NewState)> BrakesSwitchChanged { get; set; }
    [Parameter] public Dictionary<string, string?[]>? AbsoluteDefaults { get; set; }
    [Parameter] public bool Advanced { get; set; }
    [Parameter] public bool FastMode { get; set; }
    [Parameter] public EventCallback<bool> FastModeChanged { get; set; }


    protected string GetInputClass(string value)
    {
        if (string.IsNullOrWhiteSpace(value)) return "empty";
        return float.TryParse(value, out _) ? "valid" : "invalid";
    }

    protected string GetSpeedLimitInputClass(string value)
            => string.IsNullOrWhiteSpace(value)
               ? "empty"
               : (int.TryParse(value, out var n) && n is > 0 and <= 100 ? "valid" : "invalid");

    //  private readonly List<bool> Brakes = new() { true, true, true, true, true, true, true };
    private readonly List<string> Motors = new() { "M1", "M2", "M3", "M4", "M5", "M6", "M7" };

    private Action MotionSwitchCallback() => () => MotionSwitchChanged.InvokeAsync(MotorsValues!.MotorState);

    //  private Action BrakesSwitchCallback(int row) => () => BrakesSwitchChanged.InvokeAsync((row, MotorsValues!.Motors[row].Brakes));


    /* ---------- click handlers ---------- */

    
    private async Task AbsoluteClicked(string value)
    {
        for (int j = 0; j < Motors.Count;j++)
        {
            if (AbsoluteDefaults![value][j] != null) {
                MotorsValues!.Motors[j].AbsoluteValue = AbsoluteDefaults[value][j]!;
            }
        }
        await InvokeAsync(StateHasChanged);
    }

    private async Task RelativeClicked(string value)
    {
        for (int k = 0; k < Motors.Count; k++)
        {
            MotorsValues!.Motors[k].RelativeValue = (value == "Plus10" ? "10" : "-10");
        }
        await InvokeAsync(StateHasChanged);
    }

    private string GetTip(MotorPosition p) => $"High: {p.LimitHigh:0.##}\nLow:  {p.LimitLow:0.##}";

    private string GetRangeIcon(MotorPosition p)
    {
        if (p.LimitLow < p.LimitHigh)
        {
            if (p.Position < p.LimitLow)
                return "<i class=\"bi bi bi-caret-down-fill text-danger bg-transparent d-inline-block\"></i>";

            if (p.Position > p.LimitHigh)
                return "<i class=\"bi bi-caret-up-fill text-danger bg-transparent d-inline-block\"></i>";

            double diff = double.Min((p.LimitHigh - p.LimitLow) / 2,2.0);

            if (p.Position < p.LimitLow + diff)
                return "<i class=\"bi bi-caret-down-fill text-warning bg-transparent d-inline-block\"></i>";

            if (p.Position > p.LimitHigh - diff)
                return "<i class=\"bi bi-caret-up-fill text-warning bg-transparent d-inline-block\"></i>";
        }
        return "";
        //return "<i class=\"bi bi-caret-up-fill text-success bg-transparent d-inline-block invisible\"></i>";
    }
}
