@using CardModel

<div class="card custom-card">
    <div class="card-header justify-content-between">
        <div class="card-title">
            @Header
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush list-unstyled">
            @for (int i = 0; i < VersionItems.Length; i++)
            {
                int Locali = i;
                string ItemColor = VersionItems[Locali].Received == VersionItems[Locali].Expected ? "primary" : "primary1";
                <li class="list-group-item border-bottom-0 d-flex gap-3 p-0 align-items-start pt-0 mb-1">
                    <div class="card border border-@ItemColor border-opacity-25 shadow-none custom-card mb-0 @($"bg-{ItemColor}-transparent")">
                        <div class="card-body">
                            <p class="fw-medium mb-2 lh-1 d-flex align-items-center gap-2 justify-content-between">
                                @VersionItems[Locali].Name
                            </p>
                            <div class="d-flex flex-wrap gap-2 align-items-left">
                                <span class="badge @($"bg-{ItemColor}-transparent") ">Expected: @VersionItems[Locali].Expected</span>
                            </div>
                            <div class="d-flex flex-wrap gap-2 align-items-left">
                                <span class="badge @($"bg-{ItemColor}-transparent") ">Received: @VersionItems[Locali].Received</span>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter] public string? Header { get; set; }
    [Parameter] public VersionItem[] VersionItems { get; set; } = Array.Empty<VersionItem>();
}
