@page "/Mws"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //
@implements IDisposable
@inject DevTableVisibilityService DevTableVisibility
@inject MSGS.ClientSessionData sessionData
@inject MSGS.ClientManager client
@inject MSGS.AgentsRepository _agentsRepository
@using LPM._Spk
@using CardModel
@using MSGS

<!-- Page Header -->
<SpkPageHeader PageItems="PageItems" />
<!-- Page Header Close -->

@if (DevTableVisibility.ShowDevTables)
{
    <div class="row">
        <div class="col-12">
            <div class="card custom-card">
                <div class="card-body">
                    <ul class="nav nav-pills justify-content-center nav-style-2 mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" role="tab" aria-current="page"
                            href="#MicroscopeMotionControl" aria-selected="true">Microscope Motion Control</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                            href="#MOCBLEDControl" aria-selected="false">MOCB LED Control</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                            href="#MICCBAdditionalInformation" aria-selected="false">MICCB Additional Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                            href="#MOCBAdditionalInformation" aria-selected="false">MOCB Additional Information</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active text-muted" id="MicroscopeMotionControl" role="tabpanel">
                            <div class="d-flex flex-wrap">
                                @* <div class="overflow-x-auto">
                                    <div style="width: 600px;">
                                            <SpkMicroscopeMotionControl TableStyle="height:300px;" MicroscopeMotionControlValues="MicroscopeMotionControlValues" />
                                    </div>
                                </div> *@
                                <div class="overflow-x-auto">
                                    <div style="width: 300px;">
                                        <SpkRollAxis TableStyle="height:100px;" RollAxisValues="RollAxisValues" AngleHeader="@AngleHeader" SendConfig="@RollSend" />
                                    </div>
                                </div>
                                 <div class="overflow-x-auto">
                                    <div style="width: 300px;">
                                        <SpkMicroscopeRollIndicators TableStyle="height:100px;" Sensors="@MwsRollIndicate"></SpkMicroscopeRollIndicators> 
                                    </div>
                                </div>
                                @* <div class="overflow-x-auto">
                                    <div style="width: 300px;">
                                        <SpkIris TableStyle="height:300px;" Header="Iris Left" IrisValues="IrisLeftValues" />
                                    </div>
                                </div>
                                <div class="overflow-x-auto">
                                    <div sty=le="width: 300px;">
                                        <SpkIris TableStyle="height:300px;" Header="Iris Right" IrisValues="IrisRightValues" />
                                    </div>
                                </div> *@
                            </div>
                        </div>
                        <div class="tab-pane text-muted" id="MOCBLEDControl" role="tabpanel">
                            <div class="d-flex flex-wrap">
                                <div style="width: 700px">
                                    <SpkDecorationLightConfig TableStyle="height:300px;"
                                                              ColorValues="@DecorationLightColorValues"
                                                              IntervalValues="@DecorationLightIntervalValues"
                                                              CyclePatternsClicked="@CyclePatternDecorationLedMocBConfig"
                                                              LightConfigHeaders="@LightConfigHeaders"
                                                              StartStopCaption="@DecorationLightCaption"
                                                              StartStopClicked="@DecorationStartStopClicked" />
                                </div>
                                <div style="width: 360px;">
                                    <SpkCHULedControl TableStyle="height:300px;" ConfigValues="@LedConfigValues"
                                    CurrentValues="@LedCurrentValues"
                                    MaxValues="@LedMaxValues"
                                    DefaultClicked="@ChuDefaultClicked"
                                    AllOffClicked="@ChuAllOffClicked"
                                    SendConfig="@SendChuConfig" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane text-muted" id="MICCBAdditionalInformation" role="tabpanel">
                            <div class="d-flex flex-wrap">
                                <div class="d-flex flex-column">
                                    <div style="width: 300px;">
                                        <SpkInternalVoltage TableStyle="height:170px;" VoltageValues="@MiccBVoltageValues" VoltageHeader="@(new[] { "Mic.C.B 24v", "Mic.C.B 12v", "Mic.C.B 5v", "Mic.C.B 3.3v" })" />
                                    </div>
                                    @* <div style="width: 300px;">
                                        <SpkTempSensor TableStyle="height:80px;" TempValues="@TempValues" />
                                    </div> *@

                                    <div style="width: 300px;">
                                        <SpkDataTable TableStyle="height:80px;" Values="@MicCBValues" HeaderName="MicB Info" />
                                    </div>

                                    <div style="width: 300px;">
                                        <SpkEStop TableStyle="height:545px;" Values="@Pedals" TableName="Pedals" />
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    @* <div style="width: 300px;">
                                        <SpkTeensyStatus TableStyle="height:220px;" TeensyValues="@TeensyValues" />
                                    </div> *@
                                    <div style="width: 700px;">
                                        <SpkFanConfig TableStyle="height:240px;" 
                                                      FanValues="@FanValues"
                                                      Headers="@FanHeaders"
                                                      SendConfig="@SendFanConfig"
                                                      DefaultPressed="@DefaultFanPressed"/>
                                    </div>
                                    <div style="width: 700px;">
                                        <SpkDecorationLightConfig TableStyle="height:205px;"
                                                                  ColorValues="@MICCBLightColorValues"
                                                                  IntervalValues="@MICCBLightIntervalValues"
                                                                  CyclePatternsClicked="@MICCBCyclePatternLedConfig"
                                                                  LightConfigHeaders="@MICCBLightConfigHeaders"
                                                                  StartStopCaption="@MICCBLightCaption"
                                                                  StartStopClicked="@MICCBStartStopClicked" />
                                    </div>
                                    
                                </div>

                                <div style="width:300px">
                                    <SpkVerticalButtons TableStyle="height:150px;" Name="Wheels Status" Buttons=buttonWheelsIndications />
                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane text-muted" id="MOCBAdditionalInformation" role="tabpanel">
                            <div class="tab-pane text-muted" id="MICCBAdditionalInformation" role="tabpanel">
                                <div class="d-flex flex-wrap">
                                    <div style="width: 300px;">
                                        <SpkInternalVoltage TableStyle="height:170px;" VoltageValues="@MocBVoltageValues" VoltageHeader="@(new[] { "M.O.C.B 24v", "M.O.C.B 12v", "M.O.C.B 5v", "M.O.C.B 3.3v" })" />
                                    </div>
                                    <div style="width: 300px;">
                                        <SpkDataTable TableStyle="height:170px;" Values="@MocCBValues" HeaderName="MocB Info" />
                                    </div>
                                    @* <div style="width: 600px">
                                        <SpkFlaSetup TableStyle="height:540px;"
                                                     CurrentValues="@flaData" />
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @code {
 /*
    <div class="d-flex flex-wrap">
        <div class="mb-5" style="width: 600px">
            <!-- DEV-ONLY TABLE: CHULedControl -->
            <SpkCHULedControl ConfigValues="@LedConfigValues"
            CurrentValues="@LedCurrentValues"
            IdPrefix="first"
            SendConfig="@SendLedConfig" />
        </div>
    </div>
*/
    }
}

@code {
    private System.Timers.Timer? refreshTimer;
    private bool _isDisposed = false;

    private bool[] MwsRollIndicate = {false, false, false, false};
    protected override void OnInitialized()
    {
        Console.WriteLine("MWS OnInitialized called");
        base.OnInitialized();

        DecorationLightColorValues[0] = Utils.LedIniLoader.LedColorPatternNames[(int)sessionData.mocb_periodic_msg.chu_led.LedColorPattern];
        DecorationLightIntervalValues[0] = Utils.LedIniLoader.LedIntervalPatternNames[(int)sessionData.mocb_periodic_msg.chu_led.LedIntervalPattern];

        MICCBLightColorValues[0] = Utils.LedIniLoader.LedColorPatternNames[(int)sessionData.micb_periodic_msg.leds.io_led.LedColorPattern];
        MICCBLightColorValues[1] = Utils.LedIniLoader.LedColorPatternNames[(int)sessionData.micb_periodic_msg.leds.stripes_led.LedColorPattern];
        MICCBLightColorValues[2] = Utils.LedIniLoader.LedColorPatternNames[(int)sessionData.micb_periodic_msg.leds.estop_led.LedColorPattern];

        MICCBLightIntervalValues[0] = Utils.LedIniLoader.LedIntervalPatternNames[(int)sessionData.micb_periodic_msg.leds.io_led.LedIntervalPattern];
        MICCBLightIntervalValues[1] = Utils.LedIniLoader.LedIntervalPatternNames[(int)sessionData.micb_periodic_msg.leds.stripes_led.LedIntervalPattern];
        MICCBLightIntervalValues[2] = Utils.LedIniLoader.LedIntervalPatternNames[(int)sessionData.micb_periodic_msg.leds.estop_led.LedIntervalPattern];

        buttonWheelsIndications = new[]
        {
            new ButtonSpec {Caption="LEFT WHEEL LOCK NO", OnClick=null},
            new ButtonSpec {Caption="LEFT WHEEL LOCK NC", OnClick=null},
            new ButtonSpec {Caption="RIGHT WHEEL LOCK NO", OnClick=null},
            new ButtonSpec {Caption="RIGHT WHEEL LOCK NO", OnClick=null},
            new ButtonSpec {Caption="LEFT LOCK",  OnClick=null},
            new ButtonSpec {Caption="Right LOCK", OnClick=null},


        };
        InvokeAsync(UpdateGUIValuesLogic);
        refreshTimer = new System.Timers.Timer(500); // 0.5 second interval
        refreshTimer.Elapsed += (sender, e) => InvokeAsync(UpdateGUIValuesLogic);
        refreshTimer.Start();
    }

    private List<SpkPageHeader.PageItem> PageItems = new List<SpkPageHeader.PageItem> {
        new SpkPageHeader.PageItem { PageTitle = "MWS" },
    };

    private string[] FanHeaders { get; } = new string[] { "Fan 1", "Fan 2", "Fan 3" };

    public MicroscopeMotionControl MicroscopeMotionControlValues { get; set; } = new MicroscopeMotionControl()
    {
        AxisX = new MicroscopeMotionControlAxis() { AbsEnc = 0.0, MotStep = 0.0, AbsPosition = "0.0", RelativePosition = "0.0" },
        AxisY = new MicroscopeMotionControlAxis() { AbsEnc = 0.0, MotStep = 0.0, AbsPosition = "0.0", RelativePosition = "0.0" },
        AxisZ = new MicroscopeMotionControlAxis() { AbsEnc = 0.0, MotStep = 0.0, AbsPosition = "0.0", RelativePosition = "0.0" }
    };

    public RollAxis RollAxisValues { get; set;} = new RollAxis()
    {
        Angle=0.0,
        AbsAngle = "0.0",
    };
    public string? AngleHeader { get; set; } = "Angle";

    public Iris IrisLeftValues { get; set; } = new Iris()
    {
        Diameter = 0.0,
        MotStep = 0.0,
        AbsEnc = 0.0,
        AbsDia = "0.0",
        RelativeDia = "0.0"
    };

    public Iris IrisRightValues { get; set; } = new Iris()
    {
        Diameter = 0.0,
        MotStep = 0.0,
        AbsEnc = 0.0,
        AbsDia = "0.0",
        RelativeDia = "0.0"
    };

    private DataTableInfo[] MocCBValues = new DataTableInfo[] {
        new DataTableInfo {Header="Board ID",Value="0.0",ScaleName=""},
        new DataTableInfo {Header="Board Ver",Value="0.0",ScaleName=""},
    };
    private DataTableInfo[] MicCBValues = new DataTableInfo[] {
        new DataTableInfo {Header="Board ID",Value="0.0",ScaleName=""},
        new DataTableInfo {Header="Board Ver",Value="0.0",ScaleName=""},
    };


    private string[] LightConfigHeaders { get; set; } = new[] { "Chu Led"};
    private string[] MICCBLightConfigHeaders { get; set; } = new[] { "IO Led", "Stripes Led", "EStop Led" };

    private string[] LedConfigValues = new string[4] { "0", "0", "0", "20" }; // or initialize as you want
    private double[] LedCurrentValues = new double[4] { 0.0, 0.0, 0.0, 20.0 };
    private double[] LedMaxValues = new double[4] { 0.0, 0.0, 0.0, 0.0 };

    private double[] MiccBVoltageValues = new double[4] { 0.0, 0.0, 0.0, 0.0 }; // or initialize as you want
    private double[] TempValues = new double[2] { 0.0, 0.0 }; // or initialize as you want
    private ulong[] TeensyValues = new ulong[3] { 0x0, 0x0, 0x0 }; // or initialize as you want
    private double[] MocBVoltageValues = new double[4] { 0.0, 0.0, 0.0, 0.0 }; // or initialize as you want

    private string[] DecorationLightColorValues = Enumerable.Repeat(Utils.LedIniLoader.LedColorPatternNames[0], 1).ToArray();
    private string[] DecorationLightIntervalValues = Enumerable.Repeat(Utils.LedIniLoader.LedIntervalPatternNames[0], 1).ToArray();
    private string DecorationLightCaption = "Start";

    private string[] MICCBLightColorValues = Enumerable.Repeat(Utils.LedIniLoader.LedColorPatternNames[0], 3).ToArray();
    private string[] MICCBLightIntervalValues = Enumerable.Repeat(Utils.LedIniLoader.LedIntervalPatternNames[0], 3).ToArray();
    private string MICCBLightCaption = "Start";



    private FanInfo[] FanValues =
        Enumerable.Range(0, 3)
                  .Select(_ => new FanInfo { Tacho = 0, PWM = "0" })
                  .ToArray();

    private readonly FlaData[] flaData =
        Enumerable.Range(0, 8)
                  .Select(_ => new FlaData { EncoderPosition = 0.0, CurrentR = 0.0, Status = 0.0, ErrorCode = 0x0 })
                  .ToArray();

    private EStopInfo[]? Pedals = new EStopInfo[]
        {
            new EStopInfo {Header="Pedals", ParameterName="Pedal 1", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 2", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 3", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 4", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 5", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 6", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 7", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 8", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 9", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 10", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 11", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 12", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 13", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="Pedal 14", Value="0", IconSet="Bin"}
        };

    private ButtonSpec[] buttonWheelsIndications = default!;





    protected void CyclePatternDecorationLedMocBConfig()
    {
        Utils.IncrementPatterns(DecorationLightColorValues);
        Utils.IncrementPatterns(DecorationLightIntervalValues);
    }

    protected void DecorationStartStopClicked()
    {
        Console.WriteLine("MWS Send Decoration Led MocB Config called");
        VC2MocB_Control mocbControl = sessionData.mocb_periodic_msg;
        mocbControl.chu_led = MSGS.Utils.GetLedPattern(DecorationLightColorValues[0], DecorationLightIntervalValues[0], DecorationLightCaption);
        MSGS.Utils.ToggleLedCaption(ref DecorationLightCaption);

        sessionData.mocb_periodic_msg = mocbControl;
        client.SendServerForwardCmdGeneric((int)MSGS.DevicesScreen.MOCB, 2, 1, ref mocbControl);
    }

    protected void MICCBStartStopClicked()
    {
        Console.WriteLine("MWS MICCB Send Led Config called");
        VC2MicB_Control micbControl = sessionData.micb_periodic_msg;
        micbControl.leds.io_led = MSGS.Utils.GetLedPattern(MICCBLightColorValues[0], MICCBLightIntervalValues[0], MICCBLightCaption);
        micbControl.leds.stripes_led = MSGS.Utils.GetLedPattern(MICCBLightColorValues[1], MICCBLightIntervalValues[1], MICCBLightCaption);
        micbControl.leds.estop_led = MSGS.Utils.GetLedPattern(MICCBLightColorValues[2], MICCBLightIntervalValues[2], MICCBLightCaption);
        MSGS.Utils.ToggleLedCaption(ref MICCBLightCaption);

        sessionData.micb_periodic_msg = micbControl;
        client.SendServerForwardCmdGeneric((int)MSGS.DevicesScreen.MICB, 2, 1, ref micbControl);
    }

    protected void MICCBCyclePatternLedConfig()
    {
        Utils.IncrementPatterns(MICCBLightColorValues);
        Utils.IncrementPatterns(MICCBLightIntervalValues);
    }

    private void SendFanConfig()
    {
        Console.WriteLine("MWS Send Fan Config called");
        try
        {
            for (int i = 0; i < 3; i++)
            {
                if (Byte.TryParse(FanValues[i].PWM, out byte pwmValue))
                {
                    sessionData.micb_periodic_msg.fan_cmd[i] = pwmValue;
                }
            }
            VC2MicB_Control control = sessionData.micb_periodic_msg;
            client.SendServerForwardCmdGeneric((int)MSGS.DevicesScreen.MICB, 2, 1, ref control); // for inetgration
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error exception sending fan config. Please check the values. {e.ToString()}");

        }

    }

    protected void DefaultFanPressed()
    {
        Console.WriteLine("MWS Default Fan pressed");
        for (int i = 0; i < 3; i++)
        {
            FanValues[i].PWM = "30";
            sessionData.micb_periodic_msg.fan_cmd[i] = 30;
        }
        SendFanConfig();
    }
    protected async Task UpdateGUIValuesLogic()
    {
        await InvokeAsync(() =>
        {
            if (_isDisposed) return;
            try
            {
                if (string.IsNullOrEmpty(sessionData.AgentName) || 
                    _agentsRepository.GetClientAgentData(sessionData.AgentName) == null)
                {
                    return;
                }
                UpdateChuLedTable();
                for (int i = 0; i < 3; i++)
                {
                    FanValues[i].Tacho = sessionData.micb_periodic_status.fan_rpm[i];
                }

                MocBVoltageValues[0] = sessionData.mocb_metry_reply.r32Voltage24V;
                MocBVoltageValues[1] = sessionData.mocb_metry_reply.r32Voltage12V;
                MocBVoltageValues[2] = sessionData.mocb_metry_reply.r32Voltage5V;
                MocBVoltageValues[3] = sessionData.mocb_metry_reply.r32Voltage3V3;

                UInt32 info = client.UserData.micb_periodic_status.pedal_indication;

                for (int row = 0; row < 14; row++)
                {
                    Pedals![row].Value = ((int)((info >> row) & 1u)).ToString();
                }

                //temperature sensor
                TempValues[0] = sessionData.micb_metry_reply.sSlowMetryMsg.i8TemperatureSens1;
                TempValues[1] = sessionData.micb_metry_reply.sSlowMetryMsg.i8TemperatureSens2;

                RollAxisValues.Angle = sessionData.mocb_periodic_status.motor_roll;

                MwsRollIndicate[0] = ((sessionData.mocb_metry_reply.u32Exp0 >> 12) & 1) == 1;
                MwsRollIndicate[1] = ((sessionData.mocb_metry_reply.u32Exp0 >> 13) & 1) == 1;
                MwsRollIndicate[2] = ((sessionData.mocb_metry_reply.u32Exp0 >> 14) & 1) == 1;
                MwsRollIndicate[3] = ((sessionData.mocb_metry_reply.u32Exp0 >> 15) & 1) == 1;

                //MocB Version
                MocCBValues[0].Value = sessionData.mocb_init_reply.r32boardId.ToString();
                MocCBValues[1].Value = sessionData.mocb_init_reply.board_version.ToString(); //There is also r32boardversion in IDD

                //MicB Version
                MicCBValues[0].Value = sessionData.micb_init_reply.board_serial_number[0].ToString();
                MicCBValues[1].Value = sessionData.micb_init_reply.board_version.ToString(); //There is also r32boardversion in IDD

                AngleHeader = sessionData.mocb_periodic_status.self_calib_status == e_mocB_self_calibration_status.eSelfCalibDone ? "Angle ABS" : "Angle rel";

                UpdateMicBVoltage();

                byte u8WheelsStatus = sessionData.micb_metry_reply.sSlowStatusMsg.u8WheelsStatus;
                for (int row = 0; row < 4; row++)
                {
                    buttonWheelsIndications[row].IsOK = ((u8WheelsStatus >> row) & 1u) == 1;
                }
                buttonWheelsIndications[4].IsOK = sessionData.micb_periodic_status.wheels_lock_indication[0] == eMicbWheelsState.eMicbWheelsLocked;
                buttonWheelsIndications[5].IsOK = sessionData.micb_periodic_status.wheels_lock_indication[1] == eMicbWheelsState.eMicbWheelsLocked;
                
                InvokeAsync(StateHasChanged);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error exception MWS updating GUI values: {ex.Message}");
            }
        });
    }

    public void UpdateMicBVoltage()
    {
        // Update MicB Voltage values
        MiccBVoltageValues[0] = 24 * 0.001466 * sessionData.micb_metry_reply.sSlowMetryMsg.u32VoltageMeasure24V;
        MiccBVoltageValues[1] = 12 * 0.001466 * sessionData.micb_metry_reply.sSlowMetryMsg.u32VoltageMeasure12V;
        MiccBVoltageValues[2] = 5  * 0.001466 * sessionData.micb_metry_reply.sSlowMetryMsg.u32VoltageMeasure5V0;
        MiccBVoltageValues[3] = 3.3* 0.001466 * sessionData.micb_metry_reply.sSlowMetryMsg.u32VoltageMeasure3V3;
    }

    public void UpdateChuLedTable()
    {
        LedCurrentValues[0] = (sessionData.mocb_metry_reply.u16CurrentSensorCoax1_mA);  //sessionData.mocb_periodic_status.led1_intensity;
        LedCurrentValues[3] = (sessionData.mocb_metry_reply.u16CurrentSensorTracking_mA); //sessionData.mocb_periodic_status.led4_intensity;
        LedCurrentValues[1] = (sessionData.mocb_metry_reply.u16CurrentSensorCoax2_mA); //sessionData.mocb_periodic_status.led2_intensity;
        LedCurrentValues[2] = (sessionData.mocb_metry_reply.u16CurrentSensorParax_mA); //sessionData.mocb_periodic_status.led3_intensity;

        for(int i=0; i < LedMaxValues.Length; i++)
        {
            double raw = sessionData.mocb_init_reply.currrent_data_mA[i];
            LedMaxValues[i] = Math.Round(raw, 3, MidpointRounding.AwayFromZero);
        }
    }

    protected void ChuDefaultClicked()
    {
        Console.WriteLine("MWS Chu Default clicked");
        for (int i = 0; i < 4; i++)
        {
            LedConfigValues[i] = "40";
        }
        SendChuConfig();
    }

    protected void ChuAllOffClicked()
    {
        Console.WriteLine("MWS Chu All Off clicked");
        for (int i = 0; i < 3; i++)
        {
            LedConfigValues[i] = "0";
        }
        LedConfigValues[3] = "20"; //override since lower value sends MocB to Error.
        SendChuConfig();
    }

    protected void SendChuConfig()
    {
        Console.WriteLine("MWS Send Chu Config called");
        for (int i = 0; i < LedConfigValues.Length; i++)
        {
            if (Byte.TryParse(LedConfigValues[i], out byte ledValue))
            {
                sessionData.mocb_periodic_msg.led_intensity[i] = ledValue;
            }
        }
        VC2MocB_Control control = sessionData.mocb_periodic_msg;
        client.SendServerForwardCmdGeneric((int)MSGS.DevicesScreen.MOCB, 2, 1, ref control);
    }

    protected void RollSend()
    {
        Console.WriteLine("MWS Roll Send called"); 
        if (float.TryParse(RollAxisValues.AbsAngle, out float absAngle))
        {
            VC2MocB_Control mocb = sessionData.mocb_periodic_msg;
            mocb.motor_roll = absAngle;
            sessionData.mocb_periodic_msg = mocb;
            client.SendServerForwardCmdGeneric((int)MSGS.DevicesScreen.MOCB, 2, 1, ref mocb);
        }
        
    }

    public virtual void Dispose()                           // unregister
    {
        Console.WriteLine("MWS Dispose called");

        if (_isDisposed) return; // Prevent multiple disposals
        _isDisposed = true; // Mark as disposed

        refreshTimer?.Dispose(); // Cleanup resources
        refreshTimer = null; // Clear the timer reference
        GC.SuppressFinalize(this); // prevent unnecessary finalization

    }

    
}

