@page "/Dashboard"
@implements IDisposable        
@using ApexCharts
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject MSGS.ClientSessionData session_data
@inject MSGS.AgentsRepository _agents
@inject MSGS.ClientManager client
@using ForsightTester._Spk
@using ApexSeries
@using CardModel
@using Index1
@inject Index1Service Index1Service
@* @inject PageCommandService Cmd *@
@using FSMSGS
@using MSGS
@inject MSGS.ClientManager udpData
@inject MSGS.EMBVersionStorage EmbVersionStorage
@inject MSGS.AgentsRepository _agentsRepository
@inject Microsoft.Extensions.Options.IOptions<FSMSGS.TCPSettings> TcpSettings

<!-- Flatpickr Css -->
<link href="_content/FlatpickrBlazor/flatpickr.min.css" rel="stylesheet" />
<link href="_content/FlatpickrBlazor/plugins/monthSelect/style.css" rel="stylesheet" />

<!-- Start::page-header -->
<SpkPageHeader PageItems="PageItems" 
               AdvancedEnabled="true"
               AdvancedToggled="OnAdvancedToggled" />
<!-- End::page-header -->

<div class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-body">
                <ul class="nav nav-pills justify-content-center nav-style-2 mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link @( _currentTabId == "EStop" ? "active" : "" )"
                           data-bs-toggle="tab"
                           href="#EStop"
                           role="tab"
                           aria-selected="@(_currentTabId == "EStop")"
                           @onclick='() => OnTabSelected("EStop")'>
                            EStop
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @( _currentTabId == "StateMachine" ? "active" : "" )"
                           data-bs-toggle="tab"
                           href="#StateMachine"
                           role="tab"
                           aria-selected="@(_currentTabId == "StateMachine")"
                           @onclick='() => OnTabSelected("StateMachine")'>
                            State Machine
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @( _currentTabId == "Versions" ? "active" : "" )"
                           data-bs-toggle="tab" 
                           href="#Versions"
                           role="tab" 
                           aria-selected="@(_currentTabId == "Versions")"
                           @onclick='() => OnTabSelected("Versions")'>
                           Versions
                       </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @( _currentTabId == "Logs" ? "active" : "" )"
                           data-bs-toggle="tab"
                           href="#Logs"
                           role="tab"
                           aria-selected="@(_currentTabId == "Logs")"
                           @onclick='() => OnTabSelected("Logs")'>
                            Logs
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @( _currentTabId == "Agent" ? "active" : "" )"
                           data-bs-toggle="tab"
                           href="#Agent"
                           role="tab"
                           aria-selected="@(_currentTabId == "Agent")"
                           @onclick='() => OnTabSelected("Agent")'>
                            Agent
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @( _currentTabId == "Embeded Version Finder" ? "active" : "" )"
                           data-bs-toggle="tab"
                           href="#EmbededVersionFinder"
                           role="tab"
                           aria-selected="@(_currentTabId == "Embeded Version Finder")"
                           @onclick='() => OnTabSelected("Embeded Version Finder")'>
                            Embeded Version Finder
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active text-muted" id="EStop" role="tabpanel">
                        <div class="d-flex flex-wrap">
                            @if (isAdvanced)
                            {
                                <div style="width:400px">
                                    <SpkEStop TableStyle="height:750px;" Values="EStopValues" TableName="MicB Additional Info"/>
                                </div>
                                <div style="width:400px">
                                    <SpkEStop TableStyle="height:750px;" Values="AdditionalInfo2" TableName="RC/MC Additional Info" />
                                </div>
                            }
                            <div class="d-flex flex-wrap">
                                <div style="width:300px">
                                    <SpkVerticalButtons TableStyle="height:150px;" Name="ESTOP Buttons Indicaiton" Buttons=buttonsIndicaions />
                                </div>
                            </div>

                            <div class="d-flex flex-wrap">
                                <div style="width:300px">
                                    <SpkVerticalButtons TableStyle="height:150px;" Name="ESTOP Request OK" Buttons=buttons />
                                </div>
                            </div>

                            <div class="d-flex flex-wrap">
                                <div style="width:300px">
                                    <SpkVerticalButtons TableStyle="height:150px;" Name="Devices Status" Buttons=buttonsDevicesStatus />
                                </div>
                            </div>

                            <div class="d-flex flex-wrap">
                                <div style="width:300px">
                                    <SpkVerticalButtons TableStyle="height:150px;" Name="ESTOP Request Fault" Buttons=buttonsFault />
                                </div>
                            </div>

                            <div class="d-flex flex-wrap">
                                <div style="width:300px">
                                    <SpkVerticalButtons TableStyle="height:150px;" Name="Devices On/Off" Buttons=buttonsDevicesExists />
                                </div>
                            </div>

                            @* <div class="d-flex flex-column">
                                
                                <div class="d-flex flex-wrap">buttonDevicesExists
                                    <div style="width:300px">
                                        <SpkVerticalButtons TableStyle="height:150px;" Name="EStop Requests Operatinal" Buttons=buttons />
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <div style="width:300px">
                                        <SpkVerticalButtons TableStyle="height:150px;" Name="EStop Requests Disconnect" Buttons=buttonsFault />
                                    </div>
                                </div>
                            </div> *@
                        </div>
                    </div>
                    <div class="tab-pane text-muted" id="StateMachine" role="tabpanel">
                        <div class="d-flex flex-wrap">
                            <div class="overflow-x-auto">
                                <div style="width: 800px;">
                                    <SpkStateMachine Values="TableInfo" />
                                </div>
                            </div>
                            @* <div style="width:300px">
                                <SpkVerticalButtons TableStyle="height:50px;" Name="Refresh Screen" Buttons=buttonRefresh />
                            </div> *@
                        </div>
                    </div>
                    <div class="tab-pane text-muted" id="Versions" role="tabpanel">
                        <div class="row">
                            @* <div class="col-xxl-3 col-xl-6">
                                <SpkVersionList Header="VC Version" VersionItems=VCVersion />
                            </div> *@
                            <div class="col-xxl-3 col-xl-6">
                                <SpkVersionList Header="Service Software Version" VersionItems=ServiceSoftwareVersion />
                            </div>
                            <div class="col-xxl-3 col-xl-6">
                                <SpkVersionList Header="MC Version" VersionItems=MCVersion />
                            </div>
                            <div class="col-xxl-3 col-xl-6">
                                <SpkVersionList Header="Microsocope Version" VersionItems=MicroscopeVersion />
                            </div>
                            <div class="col-xxl-3 col-xl-6">
                                <SpkVersionList Header="RC Version" VersionItems=RCVersion />
                            </div>
                            <div class="col-xxl-3 col-xl-6">
                                <SpkVersionList Header="MocB Version" VersionItems=MOCBVersion />
                            </div>                                                        
                        </div>
                    </div>
                    <div class="tab-pane text-muted" id="Logs" role="tabpanel">
                        <div class="d-flex flex-wrap">
                            <div style="width:400px">
                                <SpkLog name="Log Settings" LogStatus="@log_status"
                                    LogDetails="@log_details" ExecuteClicked="@LogExecute" TableStyle="height:400px;"/>
                            </div>
@*
                            <div class="overflow-x-auto">
                                <button class="btn btn-lg motor-btn w-100 d-block mb-2"
                                        title="Log Off"
                                        @onclick="LogOff">
                                    Log Off
                                </button>
                                <button class="btn btn-lg  motor-btn w-100 d-block mb-2"
                                        title="Log Default On"
                                        @onclick="LogDefaultOn">
                                    Log Default On
                                </button>
                                <button class="btn btn-lg motor-btn w-100 d-block mb-2"
                                        title="Log Custom On"
                                        @onclick="LogCustomOn">
                                    Log Custom On
                                </button>
                            </div>
*@
                        </div>
@*
                        <div class="d-flex flex-wrap">
                            <div class="overflow-x-auto">
                                <div class="col-12 mt-3">
                                    <h4>Log Status: @log_status</h4>
                                </div>
                            </div>

                        </div>
*@                        
                    </div>
                    <div class="tab-pane text-muted" id="Agent" role="tabpanel">
                        <div class="d-flex flex-wrap">
                            <div class="overflow-x-auto">
                                <button class="btn btn-lg motor-btn w-100 d-block mb-2"
                                        title="Log Custom On"
                                        @onclick="OnCloseAgent">
                                    Close Agent
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-muted" id="EmbededVersionFinder" role="tabpanel">
                        <div class="d-flex flex-wrap">
                            <div class="overflow-x-auto">
                                <button class="btn btn-lg motor-btn w-100 d-block mb-2"
                                        title="Scan Embedded Versions"
                                        @onclick="OnScanEmbededVersions">
                                    Scan Embedded Versions
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<SpkModalSpinner @ref="_SpinnerDlg" />

@code {
    private SpkModalSpinner? _SpinnerDlg;

    private List<SpkPageHeader.PageItem> PageItems = new List<SpkPageHeader.PageItem> {
        new SpkPageHeader.PageItem { PageTitle = "Dashboard" },
    };

    // Store the delegate so you can unregister it later
    private string callbackAgentString = string.Empty; // Store the agent name
    //private readonly object _lock = new object();
    private bool _isDisposed = false;
    private System.Timers.Timer? refreshTimer;
    private DateTime _lastRedrawGuiTime = DateTime.Now;

    private ButtonSpec[] buttonsIndicaions = default!;
    private ButtonSpec[] buttons = default!;
    private ButtonSpec[] buttonsFault = default!;
    private ButtonSpec[] buttonsDevicesStatus = default!;
    private ButtonSpec[] buttonsDevicesExists = default!;

    private SpkStateMachine.StateMachineValues[] TableInfo = new SpkStateMachine.StateMachineValues[SpkStateMachine.Headers.Length];

    private const string ORANGE = "bg-warning";
    private const string GREEN = "bg-success";
    private const string RED = "bg-danger";
    private const string BLACK = "bg-light text-dark";

    private string _currentTabId = "EStop";         // default on first render
    private string log_status = "";
    private string log_details = "";

    private readonly VersionItem[] MCVersion = new VersionItem[]
    {
        new VersionItem { Name="MC MCM", Expected="-1", Received="2.5.1.0 a1b2c3d4e5f607" },
        new VersionItem { Name="MC MCC", Expected="-1", Received="2.5.1.0 a1b2c3d4e70000" }
    //new VersionItem { Name="MC IDD", Expected="3.1.0", Received="3.1.0" }
    };

    private readonly VersionItem[] MicroscopeVersion = new VersionItem[]
    {
        new VersionItem { Name="Mic MiccB1", Expected="-1", Received="" },
        new VersionItem { Name="Mic MiccB2", Expected="-1", Received="" },
        new VersionItem { Name="Mic MiccB3", Expected="-1", Received="" }
    //new VersionItem { Name="Mic MiccB IDD", Expected="3.1.1", Received="" },
    };

    private readonly VersionItem[] RCVersion = new VersionItem[]
    {
        new VersionItem { Name="RCB", Expected="-1", Received="" },
        new VersionItem { Name="RCC 4MB Left", Expected="-1", Received="2.4.1.1 baa998877665" },
        new VersionItem { Name="RCC 5MB Left", Expected="-1", Received="" },
        new VersionItem { Name="RCC EEB Left", Expected="-1", Received="" },
        new VersionItem { Name="RCC 4MB Right", Expected="-1", Received="2.4.1.1 baa998877665" },
        new VersionItem { Name="RCC 5MB Right", Expected="-1", Received="" },
        new VersionItem { Name="RCC EEB Right", Expected="-1", Received="" },
        new VersionItem { Name="RCB FPGA", Expected="-1", Received="" },
        new VersionItem { Name="RCC FPGA Left", Expected="-1", Received="" },
        new VersionItem { Name="RCC FPGA Right", Expected="-1", Received="" },
        new VersionItem { Name="RCB Board", Expected="-1", Received="" }
    //new VersionItem { Name="RC IDD", Expected="3.1.0", Received="" }
    };

    private readonly VersionItem[] MOCBVersion = new VersionItem[]
    {
        new VersionItem { Name="MocB", Expected="-1", Received="1.1.4.0 76bbde87f607" }
    //new VersionItem { Name="MocB IDD", Expected="3.1.1", Received="" }
    };

    private readonly VersionItem[] ServiceSoftwareVersion = new VersionItem[]
    {
        new VersionItem { Name="Agent", Expected="0.46", Received="0.46" },
        new VersionItem { Name="Server", Expected="1.0.0", Received="1.0.0" }
    };

    private EmbFwManager? _embFW;

    private bool isAdvanced = false;

    private Task OnAdvancedToggled(bool on)
    {
        isAdvanced = on;
        return Task.CompletedTask;
    }

    private void OnTabSelected(string id)
    {
        _currentTabId = id;
        _ = UpdateGUIValuesLogic();
    }

    private async Task OnResetCompleted()
    {
        // Custom logic here
        Console.WriteLine("Estop(Index) finished and callback fired.");
        await _SpinnerDlg!.HideAsync();
    }

    //  Expenses Line Chart End //
    protected override void OnInitialized()
    {
        buttons = new[]
        {
            new ButtonSpec
            {
                Caption = "RC Estop Request on",
                OnClick  = RCEstopRequestOn
            },
            new ButtonSpec
            {
                Caption = "MC Estop Request on",
                OnClick  = MCEstopRequestOn
            },
        };
        buttonsFault = new[]
        {
            new ButtonSpec
            {
                Caption = "RC Estop Request off",
                OnClick  = RCEstopRequestOff
            },
            new ButtonSpec
            {
                Caption = "MC Estop Request off",
                OnClick  = MCEstopRequestOff
            },
        };
        buttonsIndicaions = new[]
        {
            new ButtonSpec { Caption = "RWS ESTOP LEFT NC", OnClick = null },
            new ButtonSpec { Caption = "RWS ESTOP LEFT NO", OnClick = null },
            new ButtonSpec { Caption = "RWS ESTOP RIGHT NC", OnClick = null },
            new ButtonSpec { Caption = "RWS ESTOP RIGHT NO", OnClick = null },
            new ButtonSpec { Caption = "SWS ESTOP NC", OnClick = null },
            new ButtonSpec { Caption = "SWS ESTOP NO", OnClick = null },
            new ButtonSpec { Caption = "MWS ESTOP NC", OnClick = null },
            new ButtonSpec { Caption = "MWS ESTOP NO", OnClick = null },
        };
        buttonsDevicesExists = new[]
        {
            new ButtonSpec { Caption = "RWS EXISTS", OnClick=null},
            new ButtonSpec { Caption = "SWS EXISTS", OnClick=null},
        };
        buttonsDevicesStatus = new[]
        {
            new ButtonSpec { Caption = "RC ESTOP STATUS", OnClick=null},
            new ButtonSpec { Caption = "MC ESTOP STATUS", OnClick=null},
            new ButtonSpec { Caption = "MICCB ESTOP STATUS", OnClick=null},
        };

        _embFW = new EmbFwManager(_agents);
        refreshTimer = new System.Timers.Timer(500);
        refreshTimer.Elapsed += (sender, args) => InvokeAsync(UpdateGUIValuesLogic);
        refreshTimer.Start();

    }

    /// <summary>
    /// This is temporary to refresh the screen. We want to find why the server is slow.
    /// </summary>
    /// <returns></returns>
    private async Task UpdateGUIValuesLogic()
    {
        await InvokeAsync(() =>
        {
            BuildTables();
        });
    }

    private async Task RCEstopRequestOn()
    {
        Console.WriteLine("RCEstopRequestOn...");
        await _SpinnerDlg!.ShowAsync();
        client.SetMicbEstopState(MSGS.eEstopStateCmd.eEstopStateSysDisconnect, OnResetCompleted, false, true, false);
    }
    private async Task MCEstopRequestOn()
    {
        Console.WriteLine("MCEstopRequestOn...");
        await _SpinnerDlg!.ShowAsync();
        client.SetMicbEstopState(MSGS.eEstopStateCmd.eEstopStateSysDisconnect, OnResetCompleted, false, false, true);
    }

    private async Task RCEstopRequestOff()
    {
        Console.WriteLine("RCEstopRequestOff...");
        await _SpinnerDlg!.ShowAsync();
        client.SetMicbEstopState(MSGS.eEstopStateCmd.eEstopStateSysOperational, OnResetCompleted, false, true, false);
    }
    private async Task MCEstopRequestOff()
    {
        Console.WriteLine("MCEstopRequestOff...");
        await _SpinnerDlg!.ShowAsync();
        client.SetMicbEstopState(MSGS.eEstopStateCmd.eEstopStateSysOperational, OnResetCompleted, false, false, true);
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (session_data.AgentName.Length > 0)
            {
                Console.WriteLine("OnAfterRenderAsync called on Index.razor\n");
                //Cmd.ReDrawGUIAsync = ReDraw;          // register

                // Assign the method to the delegate
                callbackAgentString = session_data.AgentName; // Store the agent name

                // Register the callback
                //_agents.Dispatcher.RegisterAgentMessageCallback(session_data.AgentName, OnDispatcherCallBack);

                BuildTables(); // Initialize the tables with data
            }
        }
        return Task.CompletedTask;
    }

    public Task ReDraw()                 // page-specific work
    {
        if (_isDisposed) return Task.CompletedTask; // Prevent further execution if disposed

        Console.WriteLine("ReDraw clicked on header");

        BuildTables(); // Rebuild the tables with current data
        InvokeAsync(StateHasChanged);   // force a re-render

        return Task.CompletedTask;

    }

    public virtual void Dispose()                           // unregister
    {
        //lock (_lock)
        {
            if (_isDisposed) return; // Prevent multiple disposals
            _isDisposed = true; // Mark as disposed

            Console.WriteLine("Dispose called on Index.razor");

            refreshTimer?.Dispose(); // Cleanup resources
            refreshTimer = null; // Clear the timer reference   
            GC.SuppressFinalize(this); // prevent unnecessary finalization

            //if (Cmd.ReDrawGUIAsync == ReDraw)
            //    Cmd.ReDrawGUIAsync = null;
        }
    }

    // private void OnDispatcherCallBack(
    //                 MSGS.ServerMsg? msg, string agentName, object? result)
    // {

    //     if (_isDisposed) return; // Prevent further execution if disposed

    //     if ((DateTime.Now - _lastRedrawGuiTime).TotalMilliseconds < 400)
    //     {
    //         return; // Throttle redraws to avoid excessive updates
    //     }
    //     _lastRedrawGuiTime = DateTime.Now; // Update the last redraw time
    //     InvokeAsync(() =>
    //    {
    //        BuildTables();
    //    });

    // }
    private EStopInfo[] EStopValues =  new EStopInfo[]
        {
            new EStopInfo {Header="Watch Dog", ParameterName="MicbWD",            Value="0", IconSet="Bin"},
            new EStopInfo {Header="Device Requests", ParameterName="MicbRequest", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="MocbRequest",  Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="McbRequest",   Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="RcbRequest",   Value="0", IconSet="Bin"},
            new EStopInfo {Header="Active Signal", ParameterName="ActiveSignal", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ActiveSignalPulse", Value="0", IconSet="Bin"},
            new EStopInfo {Header="Buttons", ParameterName="ButtonMicLeftNO1", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ButtonMicLeftNC1",  Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ButtonMicRightNO1", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ButtonMicRightNC1", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ButtonMcNO1", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ButtonMcNC1", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ButtonRcNO1", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ButtonRcNC1", Value="0", IconSet="Bin"},
            new EStopInfo {Header="Line OK", ParameterName="RcbLinesOk", Value="0", IconSet="Bin"},
            new EStopInfo {Header="", ParameterName="ScbLinesOk",        Value="0", IconSet="Bin"},
            new EStopInfo {Header="Status", ParameterName="estop_sys_status", Value="0", IconSet="Bin"},
        };
    private EStopInfo[] AdditionalInfo2 = new EStopInfo[]
        {
            new EStopInfo {Header="RC",ParameterName="FpgaFault",           Value="0",IconSet="Bin"},
            new EStopInfo {Header="",ParameterName="eEstopStatus",          Value="0",IconSet="Bin"},
            new EStopInfo {Header="",ParameterName="WdNoRst",               Value="0",IconSet="Bin"},
            new EStopInfo {Header="",ParameterName="FpgaOpenRequestCmd",    Value="0",IconSet="Bin"},
            new EStopInfo {Header="",ParameterName="WdPulseCmd",            Value="0",IconSet="Bin"},
            new EStopInfo {Header="",ParameterName="RcbEstopRequestMicb",   Value="0",IconSet="Bin"},
            new EStopInfo {Header="MC",ParameterName="McSlowCmdRequestNoEstop", Value="0",IconSet="Bin"},
            new EStopInfo {Header="",ParameterName="McFastWatchdogCmdActive",   Value="0",IconSet="Bin"},
            new EStopInfo {Header="",ParameterName="McFastCmdRequestNoEstop",   Value="0",IconSet="Bin"},
            new EStopInfo {Header="",ParameterName="estop_sws_status_in",       Value="0",IconSet="Bin"},
            new EStopInfo {Header="MocB Status",ParameterName="estop_mocB_status_in", Value="0",IconSet="Bin"},
        };

    private void BuildTables()
    {
        try
        {
            //lock (_lock)
            {
                if (_isDisposed || string.IsNullOrEmpty(session_data.AgentName))
                {
                    return; // Prevent further execution if disposed
                }
                MSGS.agentData? data = _agents.GetClientAgentData(session_data.AgentName);
                if (data == null)
                {
                    return;
                }

                //Generate the state machine table
                GenerateStateMachineTableInfo(); 

                //generate the EStop table info
                GenerateEstopTableInfo();

                //update the versions information tab.
                GenerateVersionsInfo();

                //update the Logs information tab
                GenerateLogsTabInfo(data.errorState);

                GenerateEmbededVersionFinder();
            }

            // Update the UI
            InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error building tables: {ex.Message}");
        }
    }

    private void GenerateEmbededVersionFinder()
    {
        if (_currentTabId != "Embeded Version Finder")
        {
            return;
        }

    }

    private void GenerateLogsTabInfo(agentErrorState errorState)
    {
        if (_currentTabId != "Logs")
        {
            return; 
        }
        //Console.WriteLine($"Log state: {errorState._log_status}");
        switch(errorState._log_status)
        {
            case 0:
                log_status = "Off";
                log_details = "VC Log is Off";
                break;
            case 1:
                log_status = "Default Log On";
                log_details = "Log is running with the default version";
                break;
            case 2:
                log_status = "Custom Log On";
                log_details = "Log is running with the custom version";
                break;
            default:
                log_status = "Unknown";
                log_details = "Unknown VC log state";
                break;
        }
    }

    private void GenerateVersionsInfo()
    {
        if (_currentTabId != "Versions")
        {
            return; // Only update EStop info when the EStop tab is active
        }
        ServiceSoftwareVersion[0].Received = _agents.GetClientVersion(session_data.AgentName);
        ServiceSoftwareVersion[1].Expected = ServiceSoftwareVersion[1].Received = TcpSettings.Value.ProgramVersion;

        MCVersion[0].Received = session_data.mc_init_reply.sw_version[0].ToString();
        MCVersion[0].Expected = _embFW?.GetValue(session_data.AgentName, "MCSlow_SW");

        MCVersion[1].Received = session_data.mc_init_reply.sw_version[1].ToString();
        MCVersion[1].Expected = _embFW?.GetValue(session_data.AgentName, "MCFast_SW");

        for (int i = 0; i < session_data.micb_init_reply.teensy_version.Length; i++)
        {
            MicroscopeVersion[i].Received = session_data.micb_init_reply.teensy_version[i].ToString();
        }
        MicroscopeVersion[0].Expected = _embFW?.GetValue(session_data.AgentName, "MicB_Fast");
        MicroscopeVersion[1].Expected = _embFW?.GetValue(session_data.AgentName, "MicB_Slow");
        MicroscopeVersion[2].Expected = _embFW?.GetValue(session_data.AgentName, "MicB_Slow");

        RCVersion[0].Received = session_data.rc_init_reply.rcb_version.version.ToString();
        RCVersion[0].Expected = _embFW?.GetValue(session_data.AgentName, "RCB_SW");

        for (int i = 0; i < session_data.rc_init_reply.rcc_version.Length; i++)
        {
            RCVersion[i+1].Received = session_data.rc_init_reply.rcc_version[i].version.ToString();
            RCVersion[i+1].Expected = _embFW?.GetValue(session_data.AgentName, "RCC_SW");
        }
        RCVersion[7].Received = session_data.rc_init_reply.fpga_rcb_version.ToString();
        RCVersion[7].Expected = _embFW?.GetValue(session_data.AgentName, "FPGA_RCB");
        RCVersion[8].Expected = _embFW?.GetValue(session_data.AgentName, "FPGA_4MB");
        RCVersion[9].Expected = _embFW?.GetValue(session_data.AgentName, "FPGA_4MB");

        RCVersion[8].Received = session_data.rc_init_reply.fpga_rcc_version[0].ToString();
        RCVersion[9].Received = session_data.rc_init_reply.fpga_rcc_version[1].ToString();

        RCVersion[10].Received = session_data.rc_init_reply.rcb_board_version.ToString();
        RCVersion[10].Expected = _embFW?.GetValue(session_data.AgentName, "RCB_SW");

        MOCBVersion[0].Received = session_data.mocb_init_reply.mocb_version.ToString();
        MOCBVersion[0].Expected = _embFW?.GetValue(session_data.AgentName, "MOCB_SW");
    }

    private void GenerateEstopTableInfo()
    {
        try
        {
            if (_currentTabId != "EStop")
            {
                return; // Only update EStop info when the EStop tab is active
            }

            UInt32 info = session_data.micb_periodic_status.estop_additional_info;

            int valMicBstatus = session_data.micb_periodic_status.estop_sys_status == MSGS.eEstopSysStatus.eEstopHwSysOperational ? 1 : 0;
            for (int row = 0; row < 17; row++)
            {
                EStopValues[row].Value = ((int)((info >> row) & 1u)).ToString(); //FIX BUG: row++
            }
            EStopValues[17].Value = valMicBstatus.ToString();


            byte rcinfo = session_data.rc_periodic_status.rc_estop_additional_info;
            byte mcInfo = session_data.mc_periodic_status.mc_estop_additional_data;
            int valMocBStatus = session_data.mocb_periodic_status.estop_sys_status == MSGS.eEstopSysStatus.eEstopHwSysOperational ? 1 : 0;
            int valMCstatus = session_data.mc_periodic_status.estop_sws_status_in == MSGS.eEstopSysStatus.eEstopHwSysOperational ? 1 : 0;

            for (int row = 0; row < 6; row++) // 11 items in AdditionalInfo2
            {
                AdditionalInfo2[row].Value = ((int)((rcinfo >> row) & 1u)).ToString(); //FIX BUG: row++
            }
            AdditionalInfo2[6].Value = ((int)((mcInfo >> 0) & 1u)).ToString(); // McSlowCmdRequestNoEstop
            AdditionalInfo2[7].Value = ((int)((mcInfo >> 1) & 1u)).ToString(); // McFastWatchdogCmdActive
            AdditionalInfo2[8].Value = ((int)((mcInfo >> 2) & 1u)).ToString(); // McFastCmdRequestNoEstop
            AdditionalInfo2[9].Value = valMCstatus.ToString(); // estop_sws_status_in
            AdditionalInfo2[10].Value = valMocBStatus.ToString(); // estop_mocB_status_in

            for (int row = 0; row < 8; row++)
            {
                buttonsIndicaions[row].IsOK = ((int)((info >> (row+7)) & 1u)) == 1;
            }
            buttonsDevicesStatus[0].IsOK =  ((int)((rcinfo >> 1) & 1u)) == 1;
            buttonsDevicesStatus[1].IsOK = valMCstatus == 1;
            buttonsDevicesStatus[2].IsOK = valMicBstatus == 1;

            buttonsDevicesExists[0].IsOK = !(session_data.micb_periodic_status.robot_connected < 3);
            buttonsDevicesExists[1].IsOK = !(session_data.micb_periodic_status.surgeon_connected < 3);

        }
        catch(Exception e)
        {
            Console.WriteLine($"Error Excpetion Generate Estop table. Exception: {e.ToString()}");
        }
    }

    protected SpkStateMachine.StateMachineValue GenerateStateMachineErrorState(eModuleState error_state, uint counter)
    {
        string text = string.Empty;
        string color = string.Empty;

        if (counter < 10)
        {
            return new SpkStateMachine.StateMachineValue("Not Connected", BLACK);
        }

        switch (error_state)
        {
            case eModuleState.eModuleDisabled:
                text = "Disable";
                color = ORANGE;
                break;
            case eModuleState.eModuleOk:
                text = "Operational";
                color = GREEN;
                break;
            case eModuleState.eModuleError:
                text = "Error";
                color = RED;
                break;
            case eModuleState.eModuleFatal:
                text = "Fatal";
                color = BLACK;
                break;
            default:
                text = "Unknown";
                color = BLACK;
                break;
        }
        return new SpkStateMachine.StateMachineValue(text, color);
    }


    protected void AddDeviceLines(ref int row, eModuleState[] error_state, eSysState[] state, uint counter)
    {
        for (int i = 0; i < error_state.Length; i++) //skip 0.
        {
            TableInfo[row++] = new SpkStateMachine.StateMachineValues(
                GenerateStateMachineErrorState(error_state[i], counter), //Orange
                GenerateStateMachineState(state[i], counter));//,
            //GenerateStateMachineState(state[i], counter));
        }
    }

    private void GenerateStateMachineTableInfo()
    {
        try
        {
            if (_currentTabId != "StateMachine")
            {
                return; // Only update EStop info when the EStop tab is active
            }
            int row = 0;
            eModuleState[] error_state = udpData.UserData.rc_periodic_status.error_state; //6
            AddDeviceLines(ref row, error_state, udpData.UserData.rc_periodic_status.subsystem_state,
                             session_data.micb_periodic_status.robot_connected < 3? 0 : udpData.UserData.rc_periodic_status.header.Counter);

            error_state = udpData.UserData.mc_periodic_status.error_state; //5
            AddDeviceLines(ref row, error_state,
                            udpData.UserData.mc_periodic_status.subsystem_state,
                            session_data.micb_periodic_status.surgeon_connected < 3? 0 : udpData.UserData.mc_periodic_status.header.Counter);

            error_state = udpData.UserData.micb_periodic_status.error_state; //2
            AddDeviceLines(ref row, error_state, udpData.UserData.micb_periodic_status.subsystem_state,
                                udpData.UserData.micb_periodic_status.header.Counter);

            error_state = udpData.UserData.mocb_periodic_status.error_state;//6
            AddDeviceLines(ref row, error_state, udpData.UserData.mocb_periodic_status.subsystem_state,
                            udpData.UserData.mocb_periodic_status.header.Counter);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error generating state machine table info: {ex.Message}");
        }
    }

    protected SpkStateMachine.StateMachineValue GenerateStateMachineState(
        eSysState state, uint counter)
    {
        string text = string.Empty;
        string color = RED;

        if (counter < 10)
        {
            return new SpkStateMachine.StateMachineValue("Not Connected", BLACK);
        }

        switch (state)
        {
            case eSysState.eInvalid:
                text = "Invalid";
                break;
            case eSysState.eInit:
                text = "Init";
                break;
            case eSysState.eIdle:
                text = "Idle";
                break;
            case eSysState.eInactive:
                color = ORANGE;
                text = "Inactive";
                break;
            case eSysState.eRecovery:
                text = "Recovery";
                break;
            case eSysState.eActive:
                color = GREEN;
                text = "Active";
                break;
            case eSysState.eStopping:
                text = "Stopping";
                break;
            case eSysState.eFault:
                text = "Fault";
                break;
            case eSysState.eProgramming:
                text = "Programming";
                break;
            case eSysState.eError:
                text = "Error";
                break;
            case eSysState.eShuttingDown:
                text = "Shutting down";
                break;
            default:
                text = "Unknown";
                break;


        }
        return new SpkStateMachine.StateMachineValue(text, color);
    }
    private void LogExecute(string cmd)
    {
        Console.WriteLine($"Log execute cmd: {cmd}");
        switch(cmd)
        {
            case "Off":
                LogOff();
                break;
            case "Def version":
                LogDefaultOn();
                break;
            case "Custom version":
                LogCustomOn();
                break;
            default:
                Console.WriteLine("Error - No appropriate Log command. Ignoring");
                break;
        }
    }
    private void LogOff()
    {
        Console.WriteLine("Log Off pressed");
        client.LogOff();
    }
    private void LogDefaultOn()
    {
        Console.WriteLine("Log default On pressed");
        client.LogDefaultOn();
    }
    private void LogCustomOn()
    {
        Console.WriteLine("Log custom On pressed");
        client.LogCustomOn();
    }
    private void OnCloseAgent()
    {
        Console.WriteLine($"Close agent clicked. Agent: {udpData.UserData.AgentName}");
        client.CloseAgent();
    }

    
    private async Task OnScanEmbededVersions()
    {
        await _SpinnerDlg!.ShowAsync();

        Console.WriteLine($"On Scan Embedded Versions clicked. Agent: {udpData.UserData.AgentName}");
        agentData? agent_data = _agentsRepository.GetClientAgentData(session_data.AgentName);
        EmbVersionFinder embVersionFinder = new EmbVersionFinder();
       
        
        cidd_version def_version = EmbVersionStorage.GetVersion(session_data.AgentName, DevicesScreen.MICB, session_data.micb_periodic_msg.header.VersionIdd);
        
        embVersionFinder.FindVersion(session_data.AgentName, MSGS.DevicesScreen.MICB, def_version, EmbVersionStorage,
            agent_data, ref agent_data!.micb_periodic_msg, client);

        def_version = EmbVersionStorage.GetVersion(session_data.AgentName, DevicesScreen.MOCB, session_data.mocb_periodic_msg.header.VersionIdd);

        embVersionFinder.FindVersion(session_data.AgentName, MSGS.DevicesScreen.MOCB, def_version, EmbVersionStorage,
            agent_data, ref agent_data!.mocb_periodic_msg, client);

        def_version = EmbVersionStorage.GetVersion(session_data.AgentName, DevicesScreen.RC, session_data.rc_periodic_msg.header.VersionIdd);

        embVersionFinder.FindVersion(session_data.AgentName, MSGS.DevicesScreen.RC, def_version, EmbVersionStorage,
            agent_data, ref agent_data!.rc_periodic_msg, client);

        def_version = EmbVersionStorage.GetVersion(session_data.AgentName, DevicesScreen.MC_FAST, session_data.mc_periodic_msg.header.VersionIdd);

        embVersionFinder.FindVersion(session_data.AgentName, MSGS.DevicesScreen.MC_FAST, def_version, EmbVersionStorage,
            agent_data, ref agent_data!.mc_periodic_msg, client);

        await _SpinnerDlg!.HideAsync();
    }
}
