@page "/"
@page "/index"
@layout CustomLayout
@using ForsightTester._Spk
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //
@using FSMSGS
@using MSGS
@using ForsightTester.Data
@inject AgentList AgentList


<div class="coming-soon-main">
    <div class="row authentication coming-soon justify-content-center g-0 my-auto">
        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-7 col-11 my-auto">
            <div class="card custom-card overflow-hidden">
                <div class="card-header justify-content-between">
                    <div class="card-title">Recent Orders</div>
                    <SpkButtons Tag="a" ButtonClass="btn-outline-light border d-flex align-items-center text-muted" ButtonWidth="sm">View All</SpkButtons>
                </div>
                <div class="card-body p-0">
                    <SpkTables Items="AgentList.GetAgentHeadersData()" Tableclass="text-nowrap table-hover" ShowCheckbox=false>
                        @foreach (var Orders in AgentList.GetAgentData())
                        {
                            <tr>
                                <td><a href="javascript:void(0);" class="text-primary">@Orders.OrderId</a></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2 lh-1">
                                            <span class="avatar avatar-sm">
                                                <img src="@Orders.Customer" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0)" class="fs-14 fw-medium">@Orders.CustomerName</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="d-block text-muted">@Orders.Date</span>
                                </td>
                                <td>
                                    <span class="d-block mb-1">@Orders.Amount</span>
                                </td>
                                <td>
                                    <SpkBadge BadgeClass="@Orders.statusclass">@Orders.Status</SpkBadge>
                                </td>
                            </tr>
                        }
                    </SpkTables>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}