@inherits LPM.Shared.AccordionInputBase
@using CardModel

@* ---------- markup ---------- *@
<div class="motor-wrapper my-2 mx-2">
    <div class="accordion accordion-primary" id="@ParentId">
        <div class="accordion-item motor-card">
            <h2 class="accordion-header" id="@HeadingId">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#@CollapseId"
                        aria-controls="@CollapseId"
                        aria-expanded="true"
                        style="background: transparent;">
                    @TableName
                </button>
            </h2>

            <div id="@CollapseId"
                 class="accordion-collapse collapse show"
                 aria-labelledby="@HeadingId"
                 data-bs-parent="#@ParentId">

                <div class="accordion-body" style="padding:0;">
                    <table class="table table-sm motor-table mb-0" style="@TableStyle">
                        <tbody>
                            @foreach (var v in Values) {
                                if (v.Header != "")
                                {
                                    <tr>
                                        <td colspan="2" class="text-center" style="background-color:var(--default-border);padding:@GetPadding(v.Header) 0px 0px 0px;">
                                            @GetHeader(v.Header)
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td class="text-left">@v.ParameterName</td>
                                    <td class="text-left">
                                        @((MarkupString)GetIcon(v.IconSet, v.Value))
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2" class="text-center h-100">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    /* ---------- unique IDs via IdPrefix ---------- */
    [Parameter] public string IdPrefix { get; set; } = Guid.NewGuid().ToString("N");
    [Parameter] public string? TableStyle { get; set; }
    [Parameter] public EStopInfo[] Values { get; set; } = default!;
    [Parameter] public string? TableName { get; set; } = "";

    private string ParentId => $"accordion_FanConfig_{IdPrefix}";
    private string HeadingId => $"heading_FanConfig_{IdPrefix}";
    private string CollapseId => $"collapse_FanConfig_{IdPrefix}";

    private static readonly MarkupString _blank = (MarkupString)"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" xmlns=\"http://www.w3.org/2000/svg\"></svg>";

    // store each SVG only once
    private static readonly Dictionary<(string set, string val), MarkupString> _icons =
        new()
        {
            {("Bin","0"),  (MarkupString)"<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"20px\" height=\"20px\" x=\"0\" y=\"0\" viewBox=\"0 0 512 512\" style=\"enable-background:new 0 0 512 512\" xml:space=\"preserve\" class=\"\"><g><path d=\"M256 184.443c-26.273 0-40.8 25.613-40.8 71.558s14.524 71.555 40.8 71.555 40.794-25.395 40.794-71.341-14.739-71.772-40.794-71.772z\" fill=\"#c00000\" opacity=\"1\" data-original=\"#000000\" class=\"\"></path><path d=\"M256 6C117.929 6 6 117.929 6 256s111.929 250 250 250 250-111.929 250-250S394.071 6 256 6zm0 380.969c-66.286 0-109.16-51.309-109.16-130.969 0-79.875 42.657-130.97 109.159-130.97S365.16 176.126 365.16 256c0 79.66-42.879 130.969-109.16 130.969z\" fill=\"#c00000\" opacity=\"1\" data-original=\"#000000\" class=\"\"></path></g></svg>"},
            {("Bin","1"),  (MarkupString)"<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"20px\" height=\"20px\" x=\"0\" y=\"0\" viewBox=\"0 0 512 512\" style=\"enable-background:new 0 0 512 512\" xml:space=\"preserve\" class=\"\"><g><path d=\"M256 6C117.929 6 6 117.929 6 256s111.929 250 250 250 250-111.929 250-250S394.071 6 256 6zm52.075 374.689h-67.182V187.824h-36.968v-56.513h104.15z\" fill=\"#008000\" opacity=\"1\" data-original=\"#000000\" class=\"\"></path></g></svg>"},

            {("Push","0"), (MarkupString)"<svg width=\"20px\" height=\"20px\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0px\" y=\"0px\" viewBox=\"0 0 512 512\" style=\"enable-background:new 0 0 512 512;\" xml:space=\"preserve\"><path style=\"fill:#2C2E35;\" d=\"M392,0H120C53.7,0,0,53.7,0,120v272c0,66.3,53.7,120,120,120h272c66.3,0,120-53.7,120-120V120	C512,53.7,458.3,0,392,0z\"></path><path style=\"fill:#13151C;\" d=\"M492,392c0,55.1-44.9,100-100,100H120c-55.1,0-100-44.9-100-100V120H0v272c0,66.3,53.7,120,120,120	h272c66.3,0,120-53.7,120-120V120h-20V392z\"></path><path style=\"fill:#7A7C80;\" d=\"M392,20H120C64.9,20,20,64.9,20,120h20c0-44.1,35.9-80,80-80h272c44.1,0,80,35.9,80,80h20	C492,64.9,447.1,20,392,20z\"></path><circle style=\"fill:#F1F1F1;\" cx=\"256\" cy=\"256\" r=\"216\"></circle><circle style=\"fill:#FF1E0A;\" cx=\"256\" cy=\"256\" r=\"136\"></circle><path style=\"fill:#A3001E;\" d=\"M338,338c-21.9,21.9-51,34-82,34s-60.1-12.1-82-34s-34-51-34-82h-20c0,36.3,14.1,70.5,39.8,96.2	S219.7,392,256,392s70.5-14.1,96.2-39.8S392,292.3,392,256h-20C372,287,359.9,316.1,338,338z\"></path><path style=\"fill:#FF9086;\" d=\"M256,140c-64,0-116,52-116,116h20c0-52.9,43.1-96,96-96s96,43.1,96,96h20C372,192,320,140,256,140z\"></path><path style=\"fill:#A8ACBA;\" d=\"M256,392c-75.1,0-136-60.9-136-136h-20c0,41.7,16.2,80.8,45.7,110.3S214.3,412,256,412	s80.8-16.2,110.3-45.7S412,297.7,412,256h-20C392,331.1,331.1,392,256,392z\"></path><path style=\"fill:#6C7782;\" d=\"M380.5,380.5C347.2,413.7,303,432,256,432s-91.2-18.3-124.5-51.5S80,303,80,256H40	c0,119.3,96.7,216,216,216s216-96.7,216-216h-40C432,303,413.7,347.2,380.5,380.5z\"></path><path style=\"fill:#D3D5E0;\" d=\"M256,80c-97,0-176,79-176,176h40c0-75,61-136,136-136s136,61,136,136h40C432,159,353,80,256,80z\"></path><path style=\"fill:#13151C;\" d=\"M256,472c-119.3,0-216-96.7-216-216H20c0,31.9,6.2,62.8,18.6,91.9c11.9,28.1,28.9,53.3,50.6,75	s46.9,38.7,75,50.6c29.1,12.3,60,18.6,91.9,18.6s62.8-6.2,91.9-18.6c28.1-11.9,53.3-28.9,75-50.6s38.7-46.9,50.6-75	c12.3-29.1,18.6-60,18.6-91.9h-20C472,375.3,375.3,472,256,472z\"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>"},
            {("Push","1"), (MarkupString)"<svg width=\"20px\" height=\"20px\" xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" viewBox=\"0 0 512 512\" style=\"enable-background:new 0 0 512 512\" xml:space=\"preserve\" class=\"\"><g><path d=\"M392 0H120C53.7 0 0 53.7 0 120v272c0 66.3 53.7 120 120 120h272c66.3 0 120-53.7 120-120V120C512 53.7 458.3 0 392 0z\" style=\"\" fill=\"#2c2e35\" data-original=\"#2c2e35\"></path><path d=\"M492 392c0 55.1-44.9 100-100 100H120c-55.1 0-100-44.9-100-100V120H0v272c0 66.3 53.7 120 120 120h272c66.3 0 120-53.7 120-120V120h-20v272z\" style=\"\" fill=\"#13151c\" data-original=\"#13151c\"></path><path d=\"M392 20H120C64.9 20 20 64.9 20 120h20c0-44.1 35.9-80 80-80h272c44.1 0 80 35.9 80 80h20c0-55.1-44.9-100-100-100z\" style=\"\" fill=\"#7a7c80\" data-original=\"#7a7c80\"></path><circle cx=\"256\" cy=\"256\" r=\"216\" style=\"\" fill=\"#f1f1f1\" data-original=\"#f1f1f1\" class=\"\"></circle><circle cx=\"256\" cy=\"256\" r=\"136\" style=\"\" fill=\"#1eff0a\" data-original=\"#ff1e0a\" class=\"\" opacity=\"1\"></circle><path d=\"M338 338c-21.9 21.9-51 34-82 34s-60.1-12.1-82-34-34-51-34-82h-20c0 36.3 14.1 70.5 39.8 96.2S219.7 392 256 392s70.5-14.1 96.2-39.8S392 292.3 392 256h-20c0 31-12.1 60.1-34 82z\" style=\"\" fill=\"#00a31e\" data-original=\"#a3001e\" class=\"\" opacity=\"1\"></path><path d=\"M256 140c-64 0-116 52-116 116h20c0-52.9 43.1-96 96-96s96 43.1 96 96h20c0-64-52-116-116-116z\" style=\"\" fill=\"#90ff86\" data-original=\"#ff9086\" class=\"\" opacity=\"1\"></path><path d=\"M256 392c-75.1 0-136-60.9-136-136h-20c0 41.7 16.2 80.8 45.7 110.3S214.3 412 256 412s80.8-16.2 110.3-45.7S412 297.7 412 256h-20c0 75.1-60.9 136-136 136z\" style=\"\" fill=\"#a8acba\" data-original=\"#a8acba\" class=\"\"></path><path d=\"M380.5 380.5C347.2 413.7 303 432 256 432s-91.2-18.3-124.5-51.5S80 303 80 256H40c0 119.3 96.7 216 216 216s216-96.7 216-216h-40c0 47-18.3 91.2-51.5 124.5z\" style=\"\" fill=\"#6c7782\" data-original=\"#6c7782\" class=\"\"></path><path d=\"M256 80c-97 0-176 79-176 176h40c0-75 61-136 136-136s136 61 136 136h40c0-97-79-176-176-176z\" style=\"\" fill=\"#d3d5e0\" data-original=\"#d3d5e0\" class=\"\"></path><path d=\"M256 472c-119.3 0-216-96.7-216-216H20c0 31.9 6.2 62.8 18.6 91.9 11.9 28.1 28.9 53.3 50.6 75s46.9 38.7 75 50.6c29.1 12.3 60 18.6 91.9 18.6s62.8-6.2 91.9-18.6c28.1-11.9 53.3-28.9 75-50.6s38.7-46.9 50.6-75c12.3-29.1 18.6-60 18.6-91.9h-20C472 375.3 375.3 472 256 472z\" style=\"\" fill=\"#13151c\" data-original=\"#13151c\"></path></g></svg>"},

            {("PassFail","0"), (MarkupString)"<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"20px\" height=\"20px\" x=\"0\" y=\"0\" viewBox=\"0 0 455.111 455.111\" style=\"enable-background:new 0 0 512 512\" xml:space=\"preserve\" class=\"\"><g><circle cx=\"227.556\" cy=\"227.556\" r=\"227.556\" style=\"\" fill=\"#4ce24b\" data-original=\"#e24c4b\" class=\"\" opacity=\"1\"></circle><path d=\"M455.111 227.556c0 125.156-102.4 227.556-227.556 227.556-72.533 0-136.533-32.711-177.778-85.333 38.4 31.289 88.178 49.778 142.222 49.778 125.156 0 227.556-102.4 227.556-227.556 0-54.044-18.489-103.822-49.778-142.222 52.623 41.243 85.334 105.243 85.334 177.777z\" style=\"\" fill=\"#40d13f\" data-original=\"#d1403f\" class=\"\" opacity=\"1\"></path><path d=\"M351.289 162.133 203.378 324.267c-9.956 11.378-27.022 11.378-36.978 0l-62.578-69.689c-8.533-9.956-8.533-25.6 1.422-35.556 9.956-8.533 25.6-8.533 35.556 1.422l44.089 49.778 129.422-140.8c9.956-9.956 25.6-11.378 35.556-1.422 9.955 8.533 9.955 25.6 1.422 34.133z\" style=\"\" fill=\"#ffffff\" data-original=\"#ffffff\"></path></g></svg>"},
            {("PassFail","1"), (MarkupString)"<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"20px\" height=\"20px\" x=\"0\" y=\"0\" viewBox=\"0 0 455.111 455.111\" style=\"enable-background:new 0 0 512 512\" xml:space=\"preserve\"><g><circle cx=\"227.556\" cy=\"227.556\" r=\"227.556\" style=\"\" fill=\"#e24c4b\" data-original=\"#e24c4b\"></circle><path d=\"M455.111 227.556c0 125.156-102.4 227.556-227.556 227.556-72.533 0-136.533-32.711-177.778-85.333 38.4 31.289 88.178 49.778 142.222 49.778 125.156 0 227.556-102.4 227.556-227.556 0-54.044-18.489-103.822-49.778-142.222 52.623 41.243 85.334 105.243 85.334 177.777z\" style=\"\" fill=\"#d1403f\" data-original=\"#d1403f\"></path><path d=\"M331.378 331.378c-8.533 8.533-22.756 8.533-31.289 0l-72.533-72.533-72.533 72.533c-8.533 8.533-22.756 8.533-31.289 0-8.533-8.533-8.533-22.756 0-31.289l72.533-72.533-72.533-72.533c-8.533-8.533-8.533-22.756 0-31.289 8.533-8.533 22.756-8.533 31.289 0l72.533 72.533 72.533-72.533c8.533-8.533 22.756-8.533 31.289 0 8.533 8.533 8.533 22.756 0 31.289l-72.533 72.533 72.533 72.533c8.533 8.533 8.533 22.755 0 31.289z\" style=\"\" fill=\"#ffffff\" data-original=\"#ffffff\"></path></g></svg>"},
        };

    private static MarkupString GetIcon(string set, string val) =>
        _icons.TryGetValue((set, val), out var svg) ? svg : _blank;

    private static string GetPadding(string val) =>
        val == "=" ? "5px" : val == "-" ? "3px" : "0px";

    private static string GetHeader(string val) =>
        (val == "=" || val == "-") ? "" : val;

}