@using CardModel
@inherits LPM.Shared.AccordionInputBase

<div class="motor-wrapper my-2 mx-2">
    <div class="accordion accordion-primary" id="accordion_@IdPrefix">
        <div class="accordion-item motor-card">
            <h2 class="accordion-header" id="heading_@IdPrefix">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse_@IdPrefix"
                        aria-controls="collapse_@IdPrefix"
                        aria-expanded="true"
                        style="background: transparent;">
                    FLA Setup
                </button>
            </h2>

            <div id="collapse_@IdPrefix"
                 class="accordion-collapse collapse show"
                 aria-labelledby="heading_@IdPrefix"
                 data-bs-parent="#accordion_@IdPrefix">

                <div class="accordion-body" style="padding:0;">
                    <table class="table table-sm motor-table mb-0" style="@TableStyle">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:100px;">FLA</th>
                                <th class="text-center" style="width:100px;">Enc Position</th>
                                <th class="text-center" style="width:100px;">Current R</th>
                                <th class="text-center" style="width:100px;">Status</th>
                                <th class="text-center" style="width:179px;">Error Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < FlaNames.Count; i++)
                            {
                                int Locali = i; // capture the current index for the lambda expression
                                <tr>
                                    <td class="text-left">@FlaNames[Locali]</td>
                                    <td class="text-left">@CurrentValues[Locali].EncoderPosition.ToString("F2")</td>
                                    <td class="text-left">@CurrentValues[Locali].CurrentR.ToString("F2")</td>
                                    <td class="text-left">@CurrentValues[Locali].Status.ToString("F2")</td>
                                    <td class="text-left">@($"0x{CurrentValues[Locali].ErrorCode:X8}")</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="5" class="text-center h-100">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <div class="btn-list d-flex justify-content-center mb-2">
                                        <button type="button" class="btn btn-primary btn-wave rounded-pill">FLA Left Up</button>
                                        <button type="button" class="btn btn-primary btn-wave rounded-pill">FLA Synced up</button>
                                        <button type="button" class="btn btn-primary btn-wave rounded-pill">FLA Right Up</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <div class="btn-list d-flex justify-content-center pb-3">
                                        <button type="button" class="btn btn-primary btn-wave rounded-pill">FLA Left Down</button>
                                        <button type="button" class="btn btn-primary btn-wave rounded-pill">FLA Synced Down</button>
                                        <button type="button" class="btn btn-primary btn-wave rounded-pill">FLA Right Down</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private List<string> FlaNames { get; } = ["Fla Left 1", "Fla Left 2", "Fla Left 3", "Fla Left 4", "Fla Right 1", "Fla Right 2", "Fla Right 3", "Fla Right 4"];

    [Parameter] public string IdPrefix { get; set; } = Guid.NewGuid().ToString("N");
    [Parameter] public string? TableStyle { get; set; }
    [Parameter] public FlaData[] CurrentValues { get; set; } = Array.Empty<FlaData>();

}
