@using CardModel
@inherits LPM.Shared.AccordionInputBase

<div class="motor-wrapper my-2 mx-2">
    <div class="accordion accordion-primary" id="accordion_@IdPrefix">
        <div class="accordion-item motor-card">
            <h2 class="accordion-header" id="heading_@IdPrefix">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse_@IdPrefix"
                        aria-controls="collapse_@IdPrefix"
                        aria-expanded="true"
                        style="background: transparent;">
                    @Header
                </button>
            </h2>

            <div id="collapse_@IdPrefix"
                 class="accordion-collapse collapse show"
                 aria-labelledby="heading_@IdPrefix"
                 data-bs-parent="#accordion_@IdPrefix">

                <div class="accordion-body" style="padding:0;">
                    <div class="d-flex justify-content-evenly">
                        <div class="d-flex flex-column" style="width:45%">
                            <div class="motor-div my-2 mx-2">
                                <table class="table table-sm motor-table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:40%;"><span class="text-bold">Handle</span></th>
                                            <th class="text-center" style="width:30%;">Enc A</th>
                                            <th class="text-center" style="width:30%;">Enc B</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < HandleNames.Count-3; i++)
                                        {
                                            int Locali = i;
                                            <tr>
                                                <td class="text-left">@HandleNames[Locali]</td>
                                                <td class="text-left">@(JoystickValues[Locali].AbdEncA?.ToString("F2") ?? "-")</td>
                                                <td class="text-left">@(JoystickValues[Locali].AbdEncB?.ToString("F2") ?? "-")</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="3" class="text-center">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="motor-div my-2 mx-2">
                                <table class="table table-sm motor-table mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:40%;"><span class="text-bold">Handle</span></th>
                                            <th class="text-center" style="width:30%;">velocity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < 3; i++)
                                        {
                                            int Locali = i;
                                            <tr>
                                                <td class="text-left">@HandleNames[6 + Locali]</td>
                                                <td class="text-left">@(IMUInfo[Locali].ToString("F2") ?? "-")</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="2" class="text-center">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="motor-div my-2 mx-2" style="width:45%">
                            <table class="table table-sm motor-table mb-0" style="@TableStyle">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:50%;"><span class="text-bold">Haptic</span></th>
                                        <th class="text-center" style="width:50%;">Force</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < HapticNames.Count; i++)
                                    {
                                        int Locali = i;
                                        <tr>
                                            <td class="text-left">@HapticNames[Locali]</td>
                                            <td class="text-center">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="number"
                                                           class="form-control motor-input empty @GetInputClass(JoystickForceValues[Locali].Force!)"
                                                           style="max-width:80px;margin:auto;"
                                                           min="-100" max="100"
                                                           @bind="JoystickForceValues[Locali].Force"
                                                           @bind:event="oninput" />
                                                    <span class="ms-2">(N)</span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="3" class="text-center">
                                            <div class="d-flex flex-column justify-content-end align-items-center">
                                                <button class="btn btn-sm motor-btn w-25" title="Send" @onclick="SendConfig">
                                                    Send Force
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-sm motor-table mb-0" style="@TableStyle">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:50%;"><span class="text-bold">motor</span></th>
                                        <th class="text-center" style="width:50%;">Vcm Voltage</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < currentNames.Count; i++)
                                    {
                                        int Locali = i;
                                        <tr>
                                            <td class="text-left">@currentNames[Locali]</td>
                                            <td class="text-left">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <span>@(JoystickForceValues[Locali].VcmCurrent?.ToString("F2") ?? "-")</span>
                                                    <span>(V)</span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {







    private List<string> HandleNames { get; } = ["X", "Y", "Z", "Yaw", "Pitch", "Roll", "Imu X", "Imu Y", "Imu Z"];
    private List<string> currentNames { get; } = ["M1", "M2", "M3"];
    private List<string> HapticNames { get; } = ["X", "Y", "Z"];

    [Parameter] public string IdPrefix { get; set; } = Guid.NewGuid().ToString("N");
    [Parameter] public string? TableStyle { get; set; }
    [Parameter] public string Header { get; set; } = string.Empty;
    [Parameter] public JoystickInfo[] JoystickValues { get; set; } = Array.Empty<JoystickInfo>();
    [Parameter] public JoystickForceInfo[] JoystickForceValues { get; set; } = Array.Empty<JoystickForceInfo>();
    [Parameter] public EventCallback SendConfig { get; set; }

    [Parameter] public double[]? IMUInfo { get; set; } = Array.Empty<double>();

    protected string GetInputClass(string value)
        => string.IsNullOrWhiteSpace(value)
           ? "empty"
           : (double.TryParse(value, out var n) && n is >= -10000 and <= 10000 ? "valid" : "invalid");
}