@using Microsoft.AspNetCore.Components

<div class="input-group">
    <input type="@(showPassword ? "text" : "password")"
           class="form-control"
           placeholder="password"
           value="@Password"
           @oninput="OnInput" />

    <SpkButtons ButtonClass="btn-light border" @onclick="ToggleVisibility">
        <i class="@(showPassword ? "ri-eye-line" : "ri-eye-off-line") align-middle"></i>
    </SpkButtons>
</div>

@code {
    [Parameter] public string? Password { get; set; }
    [Parameter] public EventCallback<string?> PasswordChanged { get; set; }

    private bool showPassword;

    private async Task OnInput(ChangeEventArgs e)
    {
        Password = e.Value?.ToString();
        await PasswordChanged.InvokeAsync(Password);
    }

    private void ToggleVisibility() => showPassword = !showPassword;
}




@* @using Microsoft.AspNetCore.Components

@if (showPassword)
{
    <div class="input-group">
        <input type="text" class="form-control" placeholder="password" @attributes="AdditionalAttributes" @bind="@Password" />
        <SpkButtons ButtonClass="btn-light border" @onclick="ToggleVisibility"><i class="ri-eye-line align-middle"></i></SpkButtons>
    </div>
}
else
{
    <div class="input-group">
        <input type="password" class="form-control" placeholder="password" @attributes="AdditionalAttributes" @bind="@Password" />
        <SpkButtons ButtonClass="btn-light border" @onclick="ToggleVisibility"><i class="ri-eye-off-line align-middle"></i></SpkButtons>
    </div>
}

@code {
    [Parameter]
    public string? Password { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    private bool showPassword = false;

    private void ToggleVisibility()
    {
        showPassword = !showPassword;
    }
}
 *@