

@using CardModel

@code {
    [Parameter] public UDPStatus? UDPStatus { get; set; } 
}
    
@if(UDPStatus != null){
    <div class="card custom-card  @(UDPStatus?.MainBgImg == true ? "overflow-hidden main-content-card" : "") ">
        <div class="card-body @(!string.IsNullOrEmpty(UDPStatus?.BadgeValue) == true ? "p-4" : "")">
            <div class="d-flex align-items-start justify-content-between @(!string.IsNullOrEmpty(UDPStatus?.svg) == true ? "UDPStatus" : "mb-2")  gap-1 flex-xxl-nowrap flex-wrap">
                <div>
                    <span class="@(!string.IsNullOrEmpty(UDPStatus?.svg) || !string.IsNullOrEmpty(UDPStatus?.BadgeValue) == true ? "fs-12 fw-medium" : "fs-13 text-muted") mb-1 d-block text-wrap">@UDPStatus?.title</span>
                    <h4 class="@(!string.IsNullOrEmpty(UDPStatus?.svg) || !string.IsNullOrEmpty(UDPStatus?.BadgeValue) == true ? "" : "fs-23") fw-medium mb-0">@UDPStatus?.value</h4>
                </div>
                <div class="lh-1">
                    <div class=" @(UDPStatus?.IsRounded == true ? "avatar-rounded" : "") @UDPStatus?.iconclass @(!string.IsNullOrEmpty(UDPStatus?.BadgeValue) == true ? $"main-card-icon {UDPStatus?.iconclass} border-3 border border-{UDPStatus?.iconclass} border-opacity-50 rounded-circle" : "avatar avatar-md")">
                            @if(!string.IsNullOrEmpty(UDPStatus?.icon)) {
                                <i class="@UDPStatus?.icon fs-5"></i>
                            }
                            else {
                                <div class="@(!string.IsNullOrEmpty(UDPStatus?.BadgeValue) == true ? $"avatar avatar-md bg-{UDPStatus?.iconclass} border border-{UDPStatus?.iconclass} border-opacity-10 avatar-rounded svg-white" : "")">
                                    @((MarkupString)(UDPStatus?.svg ?? string.Empty))
                                </div>
                            }
                    </div>
                </div>
            </div>
            @if(!string.IsNullOrEmpty(UDPStatus?.BadgeValue)){
                <SpkBadge BadgeClass="@UDPStatus.Badge">@UDPStatus.BadgeValue</SpkBadge>
            }
            <div class="text-muted fs-13 @(!string.IsNullOrEmpty(UDPStatus?.BadgeValue) == true ? "mt-2" : "")">@UDPStatus?.status   <span class="@UDPStatus?.statusclass">@UDPStatus?.statusdata<i class="@UDPStatus?.statusicon fs-16"></i></span></div>
        </div>
    </div>
}